/* Styling for the about page */

.aboutPage {
  height: 100%;
  width: 100%;
  float: left;
  background-color: white;
  position: absolute;

  .mainContent {
    margin-top: 2%;
    text-align: center;

    color: $dark;
    font-size: 1.4em;

    /* Cabin is the other font */
    font-family: 'Blenda';

    .wordAccent {
      color: $accent;
    }

    .profiles {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.2em;
      max-width: 700px;
      // min-width: 440px;
      font-family: 'Blenda';
      .bio {
        display: inline-block;
        margin: 10px;
        margin-bottom: 40px;
        // border: solid 2px $medium;
        padding-bottom: 2px;
        border-radius: 5px;

        .bioImage {
          height: 200px;
          width: 200px;
          margin: 2px;
          // border: solid 2px $accent;
          border-radius: 5px;
        }
      }
    }
  }
}
