/* The styling for the copyright footer on a webpage */
/* must change later for webpages greater than a page */

.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 96%;
  background-color: white;
  color: $dark;
  padding-left: 4%;
  height: 2em;

  border-top: 1px solid $medium;
  // border-style: solid;
  // border-color: $light;
  // -moz-box-shadow: 0 -2px 2px $medium; 
  // -webkit-box-shadow: 0 -2px 2px $medium;
  // box-shadow: 0 -2px 2px $medium;

  font-family: 'Cabin';

  font-size: 0.8em;
  .words {
    margin-top: 0.4em;
    .pageLink {
      text-decoration: underline;
      margin-left: 1.6em;
    }
    .linkSplit {
      padding-left: 0.8em;
      padding-right: 0.8em;
    }
    .individualLink {
      text-decoration: underline;
    }
  }
}
