/* Styling for the create lobby page */

.createLobby {
	height: 100%;
	width: 100%;
	float: left;
	background-color: white;
	position: absolute; 
	z-index: -2;

    // background: url('/images/hdmic.jpg') no-repeat scroll center center transparent;
    // background: url('/images/hdmic.jpg') no-repeat scroll center top/cover transparent;

  	.mainContent {
		text-align: center;
		color: $dark;

		font-family: 'Cabin';

		.accentText {
		    color: $accent;
		}

		.titleText {
		    color: $dark;
		    font-size: 2em;
		    margin-top: 2em;
		}
		.titleText:hover {
		    cursor: pointer;
		}

		.bodyLine {
		    width: 60%;
		    margin-left: 20%;
		    height: 1px; 
		    background-color: $light;
		    margin-top: 0.25em;
		}

		#createLobbyForm {
		    width: 40%;
		    display: inline-block;
		    height: 30em;
		    position: absolute;
		    margin-top: 1.0em;
		    left: 10%;

		    .createLobbyFormHeader {
		        font-size: 1.4em;
		        margin-top: 0.4em;

		        .createLobbyFormLine {
		            width: 80%;
		            margin-left: 10%;
		            height: 1px;
		            background-color: $accent;
		            margin-top: 0.2em;
		        }
		    }

		    .fields {
		    	margin-top: 3px;
		    	font-size: 16px;
		    	text-align:center;

		    	width: 100%;

		        float: left;

		        .packageText {
		        	float: left;
		        	width: 100%;

		        	margin-top: 10px;
		        	margin-bottom: 6px;

		        	font-size: 14px;
		        }

		        .lobbyChoice {
		        	display: inline-block;

		        	width: 29%;
		        	margin-left: 2%;
		        	margin-right: 2%;

		            box-shadow: 0 0 1px $dark;

		            border-radius: 4px;

		            font-size: 14px;
		            padding-top: 8px;
		            padding-bottom: 8px;

		            .packageName {
		            	font-size: 18px;
		            	text-decoration: underline;
		            }
		        }
		        .lobbyChoice:hover {
		        	// pointer: cursor;
		        	cursor: pointer;
		        }
		        .lobbyChoice.focus {
		        	box-shadow: 0 0 4px $highlight;
		        }

		        .aboutText {
		            color: $dark;
		            // font-size: 1em; 
		            margin-top: 1em;
		            float: left;
		            margin-left: 12%;
		        }

		        .inputBox {
		            float: left;

		            width: 80%;
		            height: 30px;

		            margin-left: 10%;
		            margin-right: 10%;
		            margin-top: 10px;

		            border: none;
		            outline: none;
		            box-shadow: 0 0 1px $dark;

		            padding: 0px 6px;

		            border-radius: 4px;
		        }
		        .inputBox:focus {
		            box-shadow: 0 0 4px $highlight;
		        }
		        .boxCheckWrap {
		        	float: left;

		        	margin-left: 10%;
		        	margin-right: 10%;
		        	margin-top: 14px;

		        	width: 80%;
		        	height: 23px;

		        	padding: 0px 6px;
		        	padding-top: 7px;

		            border-radius: 4px;

		            border: none;
		            outline: none;
		            box-shadow: 0 0 1px $dark;

			        .inputCheck {
			        	display: inline-block;
			        	float:left;

			        	margin-left: 4px;
			        }
			        .checkText {
			        	display: inline-block;
			        	float: left;

			        	outline: none;
			        	border: none;
			        	margin-left: 4px
			        }
			    }
			    .boxCheckWrap.selected {
 					box-shadow: 0 0 4px $highlight;
			    }


		        .passwordFields {
		        	width: 100%;
		        	float: left;
		        }

		        .createLobbyWrapper {
		        	// display: none;

		            float: left;
		            margin-left: 10%;
		            width: 80%;
		            margin-top: 20px;

		            .createLobbyButton {

		                text-align:center;
		                z-index: 1;
		                outline: none;

		                color: white;
		                font-size: 14px;
		                font-family: 'Cabin';

		                background-color: $accent;
		                border: 2px solid $accent;

		                border-radius: 5px;
		                padding-top: 0.5em;
		                padding-bottom: 0.5em;
		                padding-left: 1.8em;
		                padding-right: 1.8em;
		                display: inline-block;

		                -webkit-transition: all .25s ease;
		                -moz-transition: all .25s ease;
		                -ms-transition: all .25s ease;
		                -o-transition: all .25s ease;
		                transition: all .25s ease;
		            }
		            .createLobbyButton:hover {
		                cursor: pointer;
		                background-color: $accent-dark;
		                border: 2px solid $accent-dark;
		            }
		            .createLobbyButton:active {
		                cursor: pointer;
		                background-color: $accent-dark;
		                box-shadow: inset 0px 0px 2px 2px rgba(0,0,0, 0.2);
		            }
		        }
		    }
		}
		.micImage {
			position:absolute;
			// display:inline-block;
			z-index: -1;
			right: 4%;
			bottom: 4em;
			width: 50%;
		}
  	}

}
 