/* This file just holds font families for use in the styling @author Rhys */

@font-face {
    font-family: 'Cabin';
    src: url('/fonts/Cabin-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Cabin-Bold';

    src: url('/fonts/Cabin-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Blenda';
    src: url('/fonts/Blenda-Script.otf');
}
