/* This is the style sheet for the main landing page of the website @author Rhys Howell*/


.landingPage {
    width: 100%;
    height: 100%;
    position: absolute;
    float: left;
    background-color: white; // $clouds;
    z-index: -2;


    // background-image: url("/images/squairy_light.png");

    font-family: 'Cabin';


    .banner {
        // background-color: $light;
        background: -webkit-linear-gradient($light-light, $light); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient($light-light, $light); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient($light-light, $light); /* For Firefox 3.6 to 15 */
        background: linear-gradient($light-light, $light); /* Standard syntax */

        box-shadow: 0px 2px 2px $medium;

        top: 0;
        left: 0;
        width: 100%;
        height: 3em;
        box-sizing: border-box;
        text-decoration: none;

        .bannerLeftSide {
            margin-left: 6em;

            .vowbText {
                position: absolute;
                margin-top:.25em;
                margin-left: .25em;
                font-size: 2em;
                color: $dark;
                .vowbAccentText {
                    color: $accent;
                }
            }
            .vowbText:hover {
                cursor:pointer;
                color: $accent;
                .vowbAccentText {
                    color: $dark;
                }
            }
            .quickLinks {
                top: 1.02em;
                position: relative;
                color: $dark;
                margin-left: 11.5em;


                .lobbiesButton {
                    display: inline-block;
                }
                .lobbiesButton :hover {
                    cursor: pointer;
                    color: $accent;
                }
                .forumsButton {
                    display: inline-block;
                    margin-left: 2em;
                }
                .forumsButton :hover {
                    cursor: pointer;
                    color: $accent;
                }
            }
        }

        .signupButton {
            text-align: center;
            color: $dark;

            position: absolute;

            // background-color: $accent;
            // background-color: $light;
            background: -webkit-linear-gradient(white, $light); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(white, $light); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(white, $light); /* For Firefox 3.6 to 15 */
            background: linear-gradient(white, $light); /* Standard syntax */

            border-radius: 5px;
            border: 2px solid $medium;

            padding-top: 0.4em;
            top: .5em;
            right: 10em;


            height: 1.5em;
            width: 4.5em;

            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
        }
        .signupButton:hover {
            cursor: pointer;
            background: -webkit-linear-gradient(white, $light-dark); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(white, $light-dark); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(white, $light-dark); /* For Firefox 3.6 to 15 */
            background: linear-gradient(white, $light-dark); /* Standard syntax */
            border: 2px solid $accent;
            color: $accent;
        }
        .signupButton:active {
            box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2);
            -webkit-transition: all .1s ease;
            -moz-transition: all .1s ease;
            -ms-transition: all .1s ease;
            -o-transition: all .1s ease;
            transition: all .1s ease;
        }

        .loginButton {
            top: 1em;
            position: absolute;
            color: $dark;
            right: 6em;
            background: none;
        }
        .loginButton:hover {
            cursor: pointer;
            color: $accent;
        }
    }

    .blackBackground {
        display: none;

        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(0,0,0,0.3);
    }
    .loginSomething {
        display: none;

        z-index: 11;

        margin-left: 40%;
        margin-top: 30%;
        height: 20%;
        width: 20%;
        background-color: $light;
        text-align: center;

        //more login stuff here!
    }

    .mainContent {
        text-align: center;
        font-size: 1.2em;
        margin-top: 1em;
        .accentText {
            color: $accent;
        }
        .bodyLine {
            width: 80%;
            margin-left: 15%;
            height: 1px;
            background-color: $light;
            margin-top: 0.2em;
        }
        .signupButton {
            margin-top: 1em;
            margin-right: 5%;

            right: 45%;
            text-align:center;

            z-index: 1;

            background: -webkit-linear-gradient($accent-light, $accent-dark); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient($accent-light, $accent-dark); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient($accent-light, $accent-dark); /* For Firefox 3.6 to 15 */
            background: linear-gradient($accent-light, $accent-dark); /* Standard syntax */

            // border: 2px solid $medium;
            box-shadow: inset 0px 0px 6px 6px rgba(255,255,255, 0.1);

            color: white;
            font-size: 0.8em;
            font-family: 'Cabin-Bold';
            //text-spacing: 2em;

            border-radius: 5px;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-left: 1.0em;
            padding-right: 1.0em;
            display: inline-block;

            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
        }
        .signupButton:hover {
            cursor: pointer;
        }
        .signupButton:active {
            cursor: pointer;
            box-shadow: inset 0px 0px 10px 10px rgba(0,0,0, 0.1);
        }
        .macarena {
          position: absolute;
          top: 3.25em;
          left: 19%;
          z-index: -1;
        }
        .rightPanel {
            z-index: 2;
            display: inline-block;
            margin-top: 1em;
            width: 28%;
            height: 30em;
            border-radius: 10px;

            background: -webkit-linear-gradient($light-light, white); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient($light-light, white); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient($light-light, white); /* For Firefox 3.6 to 15 */
            background: linear-gradient($light-light, white); /* Standard syntax */

            .features {
                h1 {
                    font-size: 1.4em;
                    margin-top: 0.6em;
                }
                .featuresLine {
                    width: 80%;
                    margin-left: 10%;
                    height: 1px;
                    background-color: $accent;
                    margin-top: 0.2em;
                }
                .individuals {
                    margin-top: 1em;
                    text-align: left;
                    margin-left: 12%;
                    width: 76%;
                    height: 100%;

                    p {
                        font-size: 1em;
                        line-height: 1.4em;
                    }
                }
            }
        }
    }
}
