/* This is the styling page for the lobby page */

.lobbyPage {
    .joinVoiceChat {
        font-family: 'Cabin';
        text-align: center;
        width: 120px;
        height: 30px;
        padding-top: 8px;
        font-size: 18px;
        color: $dark;
        border: 2px solid $accent;
        border-radius: 5px;
    }
    .joinVoiceChat:hover {
        cursor: pointer;
    }
    .joinVoiceChat:active {
        color: $accent;
    }
    .chatArea {
        position: absolute;
        width: 100%;
        bottom: 3em;
        height: 35%;
        left: 0;

        .lobbySideBar{
            position: absolute;
            right: 0%;
            width: 14%;
            height: 100%;
            bottom: 24px;
            font-family:tahoma;
            font-size:14;
            color:orange;
            border:1px black solid;
            overflow:scroll;
            margin-left:1px;
        }

        .chatbox {
            //font-family:tahoma;
            font-family: 'Cabin';
            font-size:12px;
            color:black;

            border: 1px black solid;

            position: absolute;
            height: 100%;
            width: 85%;
            bottom: 24px;
            left: 0;

            word-wrap: break-word;
            overflow-y: auto;

            #messages {
                li {
                    padding-top: 3px;
                    padding-bottom: 3px;
                    padding-left: 6px;
                }
                .serverMessage {
                    background-color: $light;
                }
            }
        }

        .controls{
          position: absolute;
          left: 0;
          width: 99%;
          bottom: 0;
        }
    }


}
