/* This is the styling page for the lobby page */

.lobbyPage {
    font-family: 'Cabin';

    .pageThings {
        width: 75%;
    }

    .lobbyTitle {
        font-size: 2.2em;
        color: $dark;

        text-decoration: underline;
        // border-bottom: solid 2px $

        margin-top: 0.5em;
        margin-bottom: 1em;
    }

    .lobbyOwner {
        position: absolute;
        top: 3.5em;
        text-align: right;
        right: 36%;
    }
    .usernameArea {
        width: 64%;
        padding-left: 1.4em;
        .userTitle {
            font-size: 1.6em;
            text-decoration: underline;
        }
        #userList {
            margin-top: 6px;
            font-size: 1.1em;
            padding-left: 0.6em;
        }
    }
    .userArea {
        position: absolute;
        height: 35%;
        width: 35%;
        top: 3em;
        bottom: 1.7em; 

        border: 2px solid $medium;

        z-index: -1;
        .userText {
            font-family: 'Cabin';
            font-size:12px;
            color:black;

            position: relative;
            left: 0;
            text-align: center;
        }
        .chatbox {
            font-family: 'Cabin';
            font-size:12px;
            color:black;

            position: relative;
            height: 100%;
            width: 100%;
            //border-radius: 5px;
            background-color: #FBFBFB;

            word-wrap: break-word;
            overflow-y: auto;

            #userList {
                .messageSpacer {
                    width: 100%;
                    float:left;
                    // height:2px;
                    // background-color: $accent;

                    margin: 4px;

                    li {
                        padding-top: 4px;
                        padding-bottom: 4px;
                        padding-left: 10px;
                        padding-right: 10px;
                        // padding: 9px;
                        line-height: 20px;
                        background-color:white;
                    }
                    .userMessage {
                        margin: 0;
                        float: left;
                        width: 100%;
                        background-color: #FBFBFB;
                    }
                    
                }
            }
        }
    }
    .chatArea {
        position: absolute;
        width: 35%;

        // margin-bottom: 5.6em;
        top: 3em;
        bottom: 1.7em;
        // height: 100%;
        right: 0;

       /* -moz-border-radius: 0px;
        -webkit-border-radius: 3px 3px 0px 0px;
        border-radius: 3px 3px 0px 0px; */
        border-left: 2px solid $medium;
        border-top: 2px solid $medium;
        border-bottom: 2px solid $medium;

        .lobbySideBar{
            position: absolute;
            right: 0%;
            width: 14%;
            height: 100%;
            bottom: 24px;
            font-family:tahoma;
            font-size:14;
            color:orange;
            // border:1px black solid;
            overflow:scroll;
            margin-left:1px;
        }

        .chatboxWrapper {
            position: absolute;
            left: 0;
            bottom: 24px;
            height: 100%;
            width: 100%;

            z-index: -1;

            .chatbox {
                font-family: 'Cabin';
                font-size:12px;
                color:black;

                position: absolute;
                height: 100%;
                width: 100%;
                top: 24px;
                left: 0;
                //border-radius: 5px;
                background-color: #FBFBFB;

                word-wrap: break-word;
                overflow-y: auto;

                #messages {
                    .messageSpacer {
                        width: 100%;
                        float:left;
                        // height:2px;
                        // background-color: $accent;

                        margin: 4px;

                        .playerMessage {
                            //margin: 2px;
                            float: left;
                            border: 1px solid $dark;
                            border-radius: 5px;
                        }

                        .selfMessage {
                            margin-right: 8px;
                            //right: 4px;
                            float: right;
                            border: 1px solid $medium;
                            border-radius: 10px;
                        }
                    }
                    li {
                        padding-top: 4px;
                        padding-bottom: 4px;
                        padding-left: 10px;
                        padding-right: 10px;
                        // padding: 9px;
                        line-height: 20px;
                        background-color:white;
                    }
                    .serverMessage {
                        margin: 0;
                        float: left;
                        width: 100%;
                        background-color: #FBFBFB;

                        color: $accent;
                    }

                    /*.playerMessage::after {
                        content: "";
                        position: absolute;
                        left: 5px;
                        margin-top: 4px;
                        border: 5px solid $medium;
                        border-left-color: transparent;
                        border-top-color: transparent;
                    }*/

                }
            }
        }
        .controls{
          position: absolute;
          left: 0;
          width: 100%;
          bottom: 0;
          font-size: 12px;
          padding: 6px 6px;
          //border-radius: 0 0 5px 5px; /* top left, top right, bottom right, bottom left */
          outline: none;
          border: none;
          border-top: 1px solid $medium;
        }
    }

      .voiceChatPanel {

        text-align: center;

        width:80%;



        // audio {
        //     // display: none;

        //     -webkit-transition:all 0.5s linear;
        //     -moz-transition:all 0.5s linear;
        //     -o-transition:all 0.5s linear;
        //     transition:all 0.5s linear;
        //     -moz-box-shadow: 2px 2px 4px 0px #006773;
        //     -webkit-box-shadow:  2px 2px 4px 0px #006773;
        //     box-shadow: 2px 2px 4px 0px #006773;
        //     -moz-border-radius:7px 7px 7px 7px ;
        //     -webkit-border-radius:7px 7px 7px 7px ;
        //     border-radius:7px 7px 7px 7px ;
        // }

        .joinVoiceChat {
            margin-left: 1em;
            text-align: center;
            color: $dark;
            background: -webkit-linear-gradient(white, $light); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(white, $light); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(white, $light); /* For Firefox 3.6 to 15 */
            background: linear-gradient(white, $light); /* Standard syntax */

            border-radius: 5px;
            border: 2px solid $medium;

            font-size: 14px;
            width: 140px;
            height: 2em;
            padding-top: 3px;
            padding-bottom: 8px;

            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;

            outline: none;
        }
        .joinVoiceChat:hover {
            cursor: pointer;
            background: -webkit-linear-gradient(white, $light-dark); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(white, $light-dark); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(white, $light-dark); /* For Firefox 3.6 to 15 */
            background: linear-gradient(white, $light-dark); /* Standard syntax */
            border: 2px solid $accent-light;
            color: $accent;
        }
        .joinVoiceChat:active {
            box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.2);
        }
        .joinPrivateVoiceChat {
            text-align: center;
            color: $dark;
            background: -webkit-linear-gradient(white, $light); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(white, $light); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(white, $light); /* For Firefox 3.6 to 15 */
            background: linear-gradient(white, $light); /* Standard syntax */

            border-radius: 5px;
            border: 2px solid $medium;

            font-size: 14px;
            width: 140px;
            height: 2em;
            padding-top: 3px;
            padding-bottom: 8px;

            -webkit-transition: all .35s ease;
            -moz-transition: all .35s ease;
            -ms-transition: all .35s ease;
            -o-transition: all .35s ease;
            transition: all .35s ease;

            outline: none;
        }
        .joinPrivateVoiceChat:hover {
            cursor: pointer;
            background: -webkit-linear-gradient(white, $light-dark); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(white, $light-dark); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(white, $light-dark); /* For Firefox 3.6 to 15 */
            background: linear-gradient(white, $light-dark); /* Standard syntax */
            border: 2px $highlight $dark;
            color: $dark;
        }
        .joinPrivateVoiceChat:active {
            box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.2);
        }
        .inputBox {
            height: 2em;
            width: 50%;

            border: none;
            outline: none;
            box-shadow: 0 0 2px $dark;

            font-size: 0.8em;
            padding: 0px 6px;

            border-radius: 5px;
            font-size: 0.8em;
        }
        .inputBox:focus {
            //box-shadow: 0 0 6px $highlight;
            background: -webkit-linear-gradient(white, $light-light); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(white, $light-light); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(white, $light-light); /* For Firefox 3.6 to 15 */
            background: linear-gradient(white, $light-light); /* Standard syntax */
            border: 2px $dark $dark;
            color: $dark;
        }
        #rooms-list {
            font-family: 'Cabin'; 
            font-size: 1.1em;
            margin-top: 1em;
            margin-left: 35%;
            width: 30%;

            td {
                height: 100%;
                vertical-align: bottom;
            }

            tr {
                border-bottom: 1px solid $light;
                margin: 0.2em;
            }
        }
    }
}
