/* This is the styling page for the lobby page */

.lobbyPage {
      .voiceChatPanel {
          margin-top: 2em;
          text-align: center;
          .joinVoiceChat {
            margin-left: 1em;
            text-align: center;
            color: $dark;
            background: -webkit-linear-gradient(white, $light); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(white, $light); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(white, $light); /* For Firefox 3.6 to 15 */
            background: linear-gradient(white, $light); /* Standard syntax */

            border-radius: 5px;
            border: 2px solid $medium;

            font-size: 14px;
            width: 140px;
            height: 2em;
            padding-top: 3px;
            padding-bottom: 8px;

            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;

            outline: none;
        }
        .joinVoiceChat:hover {
            cursor: pointer;
            background: -webkit-linear-gradient(white, $light-dark); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(white, $light-dark); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(white, $light-dark); /* For Firefox 3.6 to 15 */
            background: linear-gradient(white, $light-dark); /* Standard syntax */
            border: 2px solid $accent-light;
            color: $accent;
        }
        .joinVoiceChat:active {
            box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.2);
        }
        .joinPrivateVoiceChat {
            text-align: center;
            color: $dark;
            background: -webkit-linear-gradient(white, $light); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(white, $light); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(white, $light); /* For Firefox 3.6 to 15 */
            background: linear-gradient(white, $light); /* Standard syntax */

            border-radius: 5px;
            border: 2px solid $medium;

            font-size: 14px;
            width: 140px;
            height: 2em;
            padding-top: 3px;
            padding-bottom: 8px;

            -webkit-transition: all .35s ease;
            -moz-transition: all .35s ease;
            -ms-transition: all .35s ease;
            -o-transition: all .35s ease;
            transition: all .35s ease;

            outline: none;
        }
        .joinPrivateVoiceChat:hover {
            cursor: pointer;
            background: -webkit-linear-gradient(white, $light-dark); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(white, $light-dark); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(white, $light-dark); /* For Firefox 3.6 to 15 */
            background: linear-gradient(white, $light-dark); /* Standard syntax */
            border: 2px $highlight $dark;
            color: $dark;
        }
        .joinPrivateVoiceChat:active {
            box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.2);
        }
        .inputBox {
            height: 2em;
            width: 50%;

            border: none;
            outline: none;
            box-shadow: 0 0 2px $dark;

            font-size: 0.8em;
            padding: 0px 6px;

            border-radius: 5px;
            font-size: 0.8em;
        }
        .inputBox:focus {
            //box-shadow: 0 0 6px $highlight;
            background: -webkit-linear-gradient(white, $light-light); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(white, $light-light); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(white, $light-light); /* For Firefox 3.6 to 15 */
            background: linear-gradient(white, $light-light); /* Standard syntax */
            border: 2px $dark $dark;
            color: $dark;
        }
        #rooms-list {
            font-family: 'Cabin';
            font-size: 1.1em;
            margin-top: 1em;
            margin-left: 35%;
            width: 30%;

            td {
                height: 100%;
                vertical-align: bottom;
            }

            tr {
                border-bottom: 1px solid $light;
                margin: 0.2em;
            }
        }
    }
    .chatArea {
        position: absolute;
        width: 98%;
        margin-bottom: 1%;

        bottom: 2em;
        height: 30%;
        left: 1%;

        border-radius: 5px;
        border: 2px solid $medium;

        .lobbySideBar{
            position: absolute;
            right: 0%;
            width: 14%;
            height: 100%;
            bottom: 24px;
            font-family:tahoma;
            font-size:14;
            color:orange;
            border:1px black solid;
            overflow:scroll;
            margin-left:1px;
        }

        .chatbox {
            font-family: 'Cabin';
            font-size:12px;
            color:black;

            position: absolute;
            height: 90%;
            //width: 85%;
            width: 100%;
            top: 0;
            left: 0;
            border-radius: 5px;

            word-wrap: break-word;
            overflow-y: auto;

            #messages {
                li {
                    padding-top: 3px;
                    padding-bottom: 3px;
                    padding-left: 6px;
                }
                .serverMessage {
                    background-color: $light;
                }
            }
        }
        .controls{
          position: absolute;
          left: 0;
          width: 99%;
          bottom: 0;
          padding: 6px 6px;
          border-radius: 0 0 5px 5px; /* top left, top right, bottom right, bottom left */
          outline: none;
          border: none;
          border-width: 0;
          border-top-width: 1px;
          border-style: solid;
          border-color: $medium;
        }
    }


}
