.loginPage {
    display: none;

    font-family: 'Cabin'; // $clouds;
    z-index: 10;
    top: 0px;
    left: 0px;

    .mask {
      position: fixed;
      z-index:11;
      top: 0px;
      left: 0px;
      height:100%;
      width:100%;
      background-color: rgba(0,0,0,0.3);
    }
    .loginPopup {
      position:absolute;
      width:300px;
      height: auto;
      left:40%;
      top:80px;
      background: #FFF;
      z-index:12;
    }
    /* Popup Styles*/
      .loginHeader  {
        font-size: 16px;
        text-transform:  uppercase;
        background: #F4F4F2;
        position: relative;
        padding: 10px 20px;
        border-bottom: 1px solid #DDD;
        font-weight: bold;
      }
        .loginClose  {
          position:  absolute;
          right:  0;
          top: 0;
          padding: 10px 15px;
          background: #E4E4E2;
          cursor:  pointer;
          color: #aaa;
          font-size: 16px;
        }
      .loginBody {
        padding: 20px;
      }
      .loginForm  {
    }
 
.loginForm label  {
    display:  block;
     margin-bottom: 5px;
}
 
.loginForm input[type="text"],  .loginForm input[type="email"],  .loginForm input[type="password"]  {
    display:  block;
     width: 90%;
     padding:  10px;
     border: 1px solid #DDD;
     color: #666;
}
 
.loginForm input[type="checkbox"]  {
    float: left;
     margin-right: 5px;
}
 
.loginForm input[type="checkbox"]+label  {
    float: left;
}
 
 
.loginForm .checkbox  {
    margin-bottom:  10px;
     clear:  both;
     overflow:  hidden;
}

.btn  {
    padding: 10px 20px;
     background:  #F4F4F2;
}

.btn_red  {
    background:  #ED6347;
     color:  #FFF;
}

.btn:hover  {
    background:  #E4E4E2;
}

.btn_red:hover  {
    background:  #C12B05;
}
.action_btns  {
    clear: both;
     overflow:  hidden;
}
.action_btns a  {
    display:  block;
}

a.btn  {
    color: #666;
     text-align:  center;
     text-decoration:  none;
}

a.btn_red  {
    color:  #FFF;
}

.one_half  {
    width: 50%;
     display:  block;
     float: left;
}

.one_half.last  {
    width: 45%;
     margin-left: 5%;
}

}
