//- This jade files contains the html for the header of the vowb web page.
//- Include it in your jade by putting include banner 
.banner
    .bannerLeftSide
        .vowbText(href="/")
            a(href="/").
                vowb<span class="vowbAccentText">.</span>net
        .quickLinks
            .lobbiesButton(href="/lobby")
                a(href="/lobby").
                    lobbies
            .forumsButton(href="/forums")
                a(href="/forums").
                    forums
    .button
        a(class="signupButton" href="/signup" id="signup_id").
              sign up
    .loginButton(onclick="loginButtonClicked()" id="login_id")
        a.
              log in
include loginPage
