//- This jade files contains the copyright for the footer of the vowb web page.
//- Include it in your jade by putting include copyright 

.copyright
  .words
    coprightWord.
      <span style="font-family:Arial;">@</span>Copyright 2015
    a(class="pageLink").
      <a class="individualLink" href="about">about us</a>
      <span class="linkSplit">|</span>
      <a class="individualLink" href="jobs">jobs</a>
