//- For creating public and private voice chat lobbies

extends layout
block content
    script(defer="defer" src="/javascripts/createLobbyPage.js")
    include banner
    .createLobby
      .mainContent
        .titleText
            a(href="/").
              vowb<span class="accentText">.</span>net
        .bodyLine
        form#createLobbyForm
            .createLobbyFormHeader Create a Lobby
            //-    .createLobbyFormLine
            .fields
                //- .aboutText.
                //-     lobby name
                input.inputBox(type="text" id="lobbyname_id" placeholder="Lobby Name" required maxlength = 16)
                //- .aboutText.
                //-     private lobby
                .packageText.
                    Select a Lobby Package
                .lobbyPackages
                    .lobbyChoice.focus(id="basic" style="margin-right: 2%;").
                        <span style="color:#777777;" class="packageName">Basic</span><br>Free<br>10 person max
                    .lobbyChoice(id="premium").
                        <span style="color:#02A676;" class="packageName">Premium</span><br>$10/Month<br>50 person max
                    .lobbyChoice(id="grand" style="margin-left: 2%;").
                        <span style="color:#EB9330;" class="packageName">Grand</span><br>$50/Month<br>500 person max
                .boxCheckWrap
                    input.inputCheck(type="checkbox" id="private_id")
                    //- .inText.
                    //-     Private Lobby
                    input.checkText(type="text" value="Private Lobby" readonly)
                    //- readonly
                .passwordFields(style="display: none;")
                    //- .aboutText.
                    //-     lobby password
                    input.inputBox(type="password" id="password_id" placeholder="Lobby Password - Requested upon connection to lobby" maxlength = 16)
                    //- .aboutText.
                    //-     re-enter your lobby password
                    input.inputBox(type="password" id="reenterpw_id" placeholder="Lobby Password Re-Enter" maxlength = 16)
                .createLobbyWrapper
                    input.createLobbyButton(type="submit" value="Create Lobby")
        .rightSide
            img.micImage(src="/images/hdmic.jpg")
            //- .featuresText.
            //-     Voice & Text Chat

    include copyright
 