//- For creating public and private voice chat lobbies

extends layout
block content
    script(defer="defer" src="/javascripts/createLobby.js")
    include banner
    .createLobbyPade
      .mainContent
          Create lobby page.
    include copyright
