extends layout
block content
    script(defer="defer" src="/javascripts/landingPage.js")
    include banner
    .landingPage
      .mainContent
          .mainContentBG
          .titleText.
              Chat with your friends, teammates, and guild<br>for free with vowb<span class="accentText" href="/">.</span>net!
          .bodyLine
          // img(class="macarena" src="https://d13yacurqjgara.cloudfront.net/users/218750/screenshots/1933555/ey-macarena.gif")
          .signupButton(onclick="redirectToSignupClicked()")
              a.
                  Sign Up
          .signupButton(onclick="createLobbyClicked()")
              a.
                  Create a Lobby
    include copyright
