extends layout
block content
    include banner
    .landingPage
      .mainContent
          a.
              Talk with all of your friends and guild mates using <span class="accentText">vowb.net</span>!
          .bodyLine
          // img(class="macarena" src="https://d13yacurqjgara.cloudfront.net/users/218750/screenshots/1933555/ey-macarena.gif")
          .signupButton
              a(href="/signup").
                  SIGN UP
          //- .quickConnectButton
          //-     a(href="/lobby").
          //-         QUICK CONNECT
          .rightPanel
              .features
                  h1.
                      Features
                  .featuresLine
                  .individuals
                      p.
                          - Create public and private voice chat lobbies <br>
                          - Voice chat anonymously <br>
                          - Chat on forums <br>
                          - 100% free. <br>
    include copyright                    
        
