extends layout
block content
    .landingPage
      .loginPage
        .mask
        .loginPopup
      .banner
          .bannerLeftSide
              .vowbText(href="/")
                  a(href="/").
                      vowb<span class="vowbAccentText">.</span>net
              .quickLinks
                  .lobbiesButton(href="/lobby")
                      a(href="/lobby").
                          lobbies
                  .forumsButton(href="/forums")
                      a(href="/forums").
                          forums
          .button
              a(class="signupButton" href="/signup").
                    sign up
          .loginButton(onclick="loginButtonClicked()")
              a.
                    log in
      .mainContent
          a.
              Talk with all of your friends and guild mates using <span class="accentText">vowb.net</span>!
          .bodyLine
          // img(class="macarena" src="https://d13yacurqjgara.cloudfront.net/users/218750/screenshots/1933555/ey-macarena.gif")
          .signupButton
              a(href="/signup").
                  SIGN UP
          .rightPanel
              .features
                  h1.
                      Features
                  .featuresLine
                  .individuals
                      p.
                          - Create public and private voice chat lobbies <br>
                          - Voice chat anonymously <br>
                          - Chat on forums <br>
                          - 100% free. <br>
