extends layout
block content
    include banner
    .landingPage
<<<<<<< HEAD
      .loginPage
        .mask
        div.loginPopup
          header.loginHeader
            span.headerTitle Login
            span.loginClose(onclick = "exitButtonClicked()") X  
          div.loginBody
            div.loginForm      
              label Username
              
              //adding id's (Pascal 03/02/15)
              input(type='username' id = "un_id")
              br
              label Password
              input(type='password' id = "pw_id")
              br
              .checkbox
                input#remember(type='checkbox') 
                label(for='remember') Remember me on this computer
              .action_btns
                a.btn.btn_red(onclick="loginSubClicked()") Login 
=======
>>>>>>> e6f748169d9a705c42459bcb772dc2ee814ed3db
      .mainContent
          a.
              Talk with all of your friends and guild mates using <span class="accentText">vowb.net</span>!
          .bodyLine
          // img(class="macarena" src="https://d13yacurqjgara.cloudfront.net/users/218750/screenshots/1933555/ey-macarena.gif")
          .signupButton
              a(href="/signup").
                  SIGN UP
          //- .quickConnectButton
          //-     a(href="/lobby").
          //-         QUICK CONNECT
          .rightPanel
              .features
                  h1.
                      Features
                  .featuresLine
                  .individuals
                      p.
                          - Create public and private voice chat lobbies <br>
                          - Voice chat anonymously <br>
                          - Chat on forums <br>
                          - 100% free. <br>
    include copyright                    
        
