extends layout
block content
    .landingPage
        .banner
            .vowbText vowb.net
            .quickLinks
                .lobbiesButton lobbies
                .forumsButton forums
            .signupButton sign up
            .loginButton log in
    
