extends layout
block content
    .landingPage
        .banner
            .vowbText(href="/")
                a(href="/").
                    vowb.net
            .quickLinks
                .lobbiesButton(href="/lobbies")
                    a(href="/lobbies").
                        lobbies
                .forumsButton(href="/forums")
                    a(href="/forums").
                        forums
            .button
                .signupButton(href="/signup")
                    a(href="/signup").
                        sign up
                .loginButton(onclick="loginButtonClicked()")
                    a.
                        log in
