extends layout
block content
    .landingPage
      .loginPage
        .mask
        div.loginPopup
          header.loginHeader
            span.headerTitle Login
            span.loginClose(onclick = "exitButtonClicked()") X  
          div.loginBody
            div.loginForm
              label Full Name
                input(type='text')
                br         
                label Email Address
                input(type='email')
                br
                label Password
                input(type='password')
                br
                .checkbox
                  input#remember(type='checkbox') 
                  label(for='remember') Remember me on this computer
                .action_btns
                  a.btn.btn_red(onclick="loginSubClicked()") Login 
      .banner
          .bannerLeftSide
              .vowbText(href="/")
                  a(href="/").
                      vowb<span class="vowbAccentText">.</span>net
              .quickLinks
                  .lobbiesButton(href="/lobby")
                      a(href="/lobby").
                          lobbies
                  .forumsButton(href="/forums")
                      a(href="/forums").
                          forums
          .button
              a(class="signupButton" href="/signup").
                    sign up
          .loginButton(onclick="loginButtonClicked()")
              a.
                    log in
      .mainContent
          a.
              Talk with all of your friends and guild mates using <span class="accentText">vowb.net</span>!
          .bodyLine
          // img(class="macarena" src="https://d13yacurqjgara.cloudfront.net/users/218750/screenshots/1933555/ey-macarena.gif")
          .signupButton
              a(href="/signup").
                  SIGN UP
          .rightPanel
              .features
                  h1.
                      Features
                  .featuresLine
                  .individuals
                      p.
                          - Create public and private voice chat lobbies <br>
                          - Voice chat anonymously <br>
                          - Chat on forums <br>
                          - 100% free. <br>
