//- This is the webpage for finding out about vowb.net jobs lol

extends layout
block content
  include banner
  .jobsPage
    .mainContent.
      Applications have closed for spring 2015<span class="wordAccent">.</span><br> Please check back later<span class="wordAccent">.</span>
  include copyright
