//- This is the webpage for finding out about vowb.net jobs lol

extends layout
block content
  include banner
  .jobsPage
    .mainContent.
      " vowb<span class="wordAccent">.</span>net is the best place I've ever worked. "
      <br><br>Applications are now closed for spring 2015
      <br> Please check back later<span class="wordAccent">.</span>
  include copyright
