doctype html
html(ng-app='app')
    head
        title= title
        
        //- jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        //- The best stylings NA
        link(rel='stylesheet', href='/stylesheets/base.css')
            
        //- Angular if we descide to use it
        //- script(type='text/javascript', src='/javascripts/angular.js')
        
    body.patterned
        block content
