doctype html
html(ng-app='app')
    head
        title= title
        
        //- jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        //script(src="/javascripts/jquery.leanModal.min.js")
        
        //- Angular if we end up using it
        //- script(type='text/javascript', src='/javascripts/angular.js')
            
        //- The best stylings NA
        link(rel='stylesheet', href='/stylesheets/base.css')
          
        link(rel="icon" type="image/png" href="images/favicon.png")
        
        //- Script which controls logins
        script(src="/javascripts/login.js")    
        
    body.patterned
        block content
