extends layout
block content
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(defer="defer" src="/javascripts/locallobby.js")
    
    script(defer="defer" src="/javascripts/adapter.js")
    // script(defer="defer" src="/webrtc.io/webrtc.io.js")
    include banner
    .lobbyPage
        .bodyLine
        .pageThings
            .userTitle
                Online Users
                .usersOnline
            .chatArea
                #msgBox.chatbox
                    ul#messages
                .controls
                    textarea.inputBox#m(type="text" placeHolder="Insert message...")

    include copyright
