extends layout
block content
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(defer="defer" src="/javascripts/locallobby.js")
    include banner
    .lobbyPage
        .titleText(href="/").
            vowb<span class="accentText">.</span>net
        .bodyLine
        .pageThings
            #msgBox.chatbox
                ul#messages
            .usersOnline

            .controls
                textarea.inputBox#m(type="text" placeHolder="Insert message...", cols = '50', rows='5')

    include copyright
