extends layout
block content

    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='https://cdn.webrtc-experiment.com/RTCMultiConnection.js')
    script(defer="defer" src="/javascripts/locallobby.js")

    include banner
    .lobbyPage
        .bodyLine
        .pageThings
            .experiment
                //- .joinVoiceChat(onClick="connectToVoiceChat()").
                //-    Voice Chat
                .createLobby
                    input#conference-name(type="text" placeHolder="Insert Lobby name")
                    button#setup-new-conference.setup.joinVoiceChat Create Sublobby
                //- list of all available broadcasting rooms
                table#rooms-list(style='width: 100%;')
                //- local/remote videos container
                #audios-container

                //- .createLobby
                //-     input#conference-name(type="text" placeHolder="Insert Lobby name")
                //-     button#setup-new-conference.setup Create lobby
                //- 
                //- // list of all available broadcasting rooms
                //- table#rooms-list(style='width: 100%;')
                //- // local/remote videos container
                //- #audios-container

            .chatArea
                .lobbySideBar
                #msgBox.chatbox
                    ul#messages
                input#m.controls(type="text" placeHolder="Insert message...")

    include copyright
