extends layout
block content
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(defer="defer" src="/javascripts/locallobby.js")
    script(defer="defer" src="/javascripts/adapter.js")
    include banner
    .lobbyPage
        .titleText(href="/").
            vowb<span class="accentText">.</span>net
        .bodyLine
        .pageThings
            ul#messages
            #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
            .controls
                input.inputBox#m(type="text" placeHolder="Insert message...")
            
    include copyright