extends layout
block content

    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='https://cdn.webrtc-experiment.com/RTCMultiConnection.js')
    script(defer="defer" src="/javascripts/locallobby.js")

    include banner
    script.
        // gets the login data from the server (none if user doesn't exist)
        //- console.log("Trying to parse data from the server");
        var lobbies = !{JSON.stringify(lobbies)};
        if(!{JSON.stringify(lobbyPassword)} != undefined) {
            lobbyPassword = !{JSON.stringify(lobbyPassword)};
            //- console.log("Parse success: " + loginData);
        }
        else {
            //- console.log("Parse failure");
            lobbyPassword = false;
        }
    .lobbyPage
        .bodyLine
        .pageThings
            .lobbyOwner
            .deleteWrapper(id="delete_wrapper")
                input.deleteButton(id="delete_id" type="submit" value="Delete Lobby" onclick="redirectToDeleteClicked()")

            .voiceChatPanel
                .lobbyTitle #{lobbyName}
                .currentLobbies
                    ul#LList
                //- .joinVoiceChat(onClick="connectToVoiceChat()").
                //-    Voice Chat
                //- input#conference-name.inputBox(type="text" placeHolder="Insert Lobby name")
                //- button#setup-new-conference.setup.joinVoiceChat Create Sublobby
                //- list of all available broadcasting rooms
                //- table#rooms-list
                //- local/remote videos container
                

                //- .createLobby
                //-     input#conference-name(type="text" placeHolder="Insert Lobby name")
                //-     button#setup-new-conference.setup Create lobby

                //- // list of all available broadcasting rooms
                //- table#rooms-list(style='width: 100%;')
                //- // local/remote videos container
                //- #audios-container
                //- make password
                //- input#setup(type="button" value="Enter Password")
            .usernameArea
                .userTitle.
                    General Chat
                #userBox.chatbox
                    ul#userList
                    #audios-container

            .chatArea
                //- .lobbySideBar
                .chatboxWrapper
                    #msgBox.chatbox
                        ul#messages
                input#m.controls(type="text" placeHolder="Enter a message...")

    //- .loginPage
    //-     .overlay
    //-     .loginPopup
    //-         header.loginHeader
    //-           span.headerTitle Log in
    //-           span.loginClose(onclick = "exitButtonClicked()") X
    //-         .loginBody
    //-           .loginForm
    //-             label username
    //-             input(type='username' id = "un_id")
    //-             br
    //-             label password
    //-             input(type='password' id = "pw_id")
    //-             br
    //-             .checkbox
    //-               input#remember(type='checkbox')
    //-               label(for='remember') remember me on this computer
    //-             .action_btns
    //-               a.btn.btn_red(onclick="loginSubClicked()") log in


    include copyright
