//- Controls the html of the login screen

.loginPage
  //.overlay
  .loginPopup
    header.loginHeader
      span.headerTitle Log in
      span.loginClose(onclick = "exitButtonClicked()") X  
    .loginBody
      .loginForm      
        label username
        input(type='username')
        br
        label password
        input(type='password')
        br
        .checkbox
          input#remember(type='checkbox') 
          label(for='remember') remember me on this computer
        .action_btns
          a.btn.btn_red(onclick="loginSubClicked()") log in 
