extends layout

block content
	include banner
	script(defer="defer" src="/javascripts/profile.js")
	.profilePage
		.leftPane
			img(class="profIMG" src="/images/profile/M.jpg")
			.statusBar
				img(class="statusIMG" src="/images/profile/offline.png") 
				.pStatus OFFLINE
				.p Current Lobby:  
				.pCurrLobby OFFLINE
			.interactionBar
				a(class="addFriend" href="#").
					Add to Friends List <br>
				a(class="msg" href="#").
					Send Message <br>
				a(class="posts" href="#").
					All Posts <br>
				a(class="threads" href="#").
					Threads Started <br>

		.centerPane
			.userAboutHeader
				.userName !{username}
				img(class="userRank" src="/images/profile/rank1.png") 
				.userStatus / last online 7 seconds ago
			.userAbout
				.userAboutL
					.PERSONAL Personal
					.userPersonal 
						.userFullName Mason Everett 
						.userAge 19 
						.slash / 
						.userSex Male 
						.slash / 
						.userState PA
					.ACCOUNTSTATS Account Stats
					.dateJoined Joined:
						.userdateJoined 5/3/2014
					.postCount Posts:
						.userpostCount 2
					.timeOnline Time Online:
						.usertimeOnline 287 hrs
				.userAboutR
					.ABOUTME About Me
					.aboutMeDesc.
						I like to play CS, RS, and program side projects in my free time. I am the best top laner NA.
					.FAVORITES Favorites
					.favGames Games: 
						.userfavGames Counter Strike
					.favShows TV Shows: 
						.userfavShows Doctor Who
					.favFoods Foods: 
						.userfavFoods Dumplings
			.editProfButton 
				a(onclick="editProfButtonClicked()").
					Edit Profile
		.rightPage
			.friendsListPane
				.friendsHeader Friends List
				.friendsList
					.friend1
						img(class="friend1StatusIMG" src="/images/profile/online.png")
						.friend1Name bob
						
						.friend1Lobby CSGO MM

