extends layout

block content
	include banner

	.profilePage
		.leftPane
			img(class="profIMG" src="/images/profile/M.jpg")
			.statusBar
				img(class="statusIMG" src="/images/profile/online.png") 
				.pStatus ONLINE
				.p Current Lobby:  
				.pCurrLobby CSGO MM
			.interactionBar
				a(class="addFriend" href="#").
					Add to Friends List <br>
				a(class="msg" href="#").
					Send Message <br>
				a(class="posts" href="#").
					All Posts <br>
				a(class="threads" href="#").
					Threads Started <br>

		.centerPane
			.p profile page
		.rightPage
			.friendsListPane
				.friendsHeader Friends List
				.friendsList
					.friend1
						img(class="friend1StatusIMG" src="/images/profile/offline.png")
						.friend1Name bob
						.friend1Lobby OFFLINE

