extends layout
block content
    script(defer="defer" src="/javascripts/signupPage.js")
    .signupPage
        .titleText.
            vowb<span class="accentText">.</span>net
        .bodyLine
        form#signupForm
            .signupFormHeader sign up
                .signupFormLine
            .fields
                .aboutText.
                    username
                input.inputBox(type="text" placeholder="2-16 characters, numbers, and spaces")
                .aboutText.
                    email
                input.inputBox(type="email" placeholder="we will not spam you.")
                .aboutText.
                    password
                input.inputBox(type="text" placeholder="4-16 characters, keep it original plz")
                .aboutText.
                    re-enter your password
                input.inputBox(type="text" placeholder="same as up there ^^")
                .signupButtonWrap
                    input.signupButton(type="submit" value="Sign up")
        .rightPanel
            .features
                .featuresTitle.
                    features
                .featuresLine
                .individuals
                    p.
                        - create public and private voice chat lobbies<br>
                        - voice chat anonymously <br>
                        - chat on forums <br>
                        - 100% free. <br>
