extends layout
block content
    script(defer="defer" src="/javascripts/signupPage.js")
    .signupPage
        .titleText
            a(href="/").
              vowb<span class="accentText">.</span>net
        .bodyLine
        .pageThings
            form#signupForm
                .signupFormHeader sign up
                    .signupFormLine
                .fields
                    .aboutText.
                        username
                    input.inputBox(type="text" id="username_id" placeholder="2-16 characters, numbers, and spaces" required maxlength = 16)
                    .aboutText.
                        email
                    input.inputBox(type="email" id="email_id" placeholder="we will not spam you." required)
                    .aboutText.
                        password
                    input.inputBox(type="password" id="password_id" placeholder="4-16 characters, keep it original plz" required maxlength = 16)
                    .aboutText.
                        re-enter your password
                    input.inputBox(type="password" id="reenterpw_id" placeholder="same as up there ^^" required maxlength = 16)
                    input.signupButton(type="submit" value="Sign Up")
            .rightPanel
                .features
                    .featuresTitle.
                        features
                    .featuresLine
                    .individuals
                        p.
                            - create public and private voice chat lobbies<br>
                            - voice chat anonymously <br>
                            - chat on forums <br>
                            - 100% free. <br>
    include copyright
