/* Importing Google Webfonts */
/* Flat ui colors for reference */
/* Pallete currently in use */
/* START Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END Reset CSS */
/* This file just holds font families for use in the styling @author Rhys */
@font-face {
  font-family: 'Cabin';
  src: url('/fonts/Cabin-Regular.ttf') format("truetype"); }

@font-face {
  font-family: 'Cabin-Bold';
  src: url('/fonts/Cabin-Bold.ttf') format("truetype"); }

@font-face {
  font-family: 'Blenda';
  src: url('/fonts/Blenda-Script.otf'); }

.loginPage {
  font-family: 'Cabin';
  z-index: 100;
  top: 0px;
  left: 0px;
  color: #290E03;
  /* Popup Styles*/ }
  .loginPage .overlay {
    position: fixed;
    z-index: 101;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);
    display: none; }
  .loginPage .loginPopup {
    position: absolute;
    width: 300px;
    height: auto;
    left: 40%;
    top: 150px;
    background: white;
    z-index: 102;
    border-radius: 5px;
    display: none; }
  .loginPage .loginHeader {
    font-size: 16px;
    text-transform: uppercase;
    background: #ECF0F1;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #BDC3C7;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .loginPage .loginClose {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 12px;
    cursor: pointer;
    color: #aaa;
    font-size: 20px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease; }
  .loginPage .loginClose:hover {
    padding: 7px 11px;
    cursor: pointer;
    font-size: 24px; }
  .loginPage .loginClose:active {
    color: #888; }
  .loginPage .loginBody {
    padding: 20px; }
  .loginPage .loginForm label {
    display: block;
    margin-bottom: 5px; }
  .loginPage .loginForm input[type="username"], .loginPage .loginForm input[type="password"] {
    display: block;
    width: 90%;
    padding: 6px;
    color: #666;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0 2px #290E03;
    -webkit-transition: all .25s ease;
    transition: all .25s ease; }
  .loginPage .loginForm input[type="username"]:focus, .loginPage .loginForm input[type="password"]:focus {
    box-shadow: 0 0 6px #E67E22; }
  .loginPage .loginForm input[type="checkbox"] {
    float: left;
    margin-right: 5px; }
  .loginPage .loginForm input[type="checkbox"] + label {
    float: left; }
  .loginPage .loginForm .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden; }
  .loginPage .btn_red {
    background: #FC4349;
    color: white;
    padding: 10px 20px;
    border-radius: 5px; }
  .loginPage .btn_red:hover {
    background: #DC2329; }
  .loginPage .btn_red:active {
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .loginPage .action_btns {
    clear: both;
    overflow: hidden; }
  .loginPage .action_btns a {
    display: block; }
  .loginPage a.btn {
    color: #666;
    text-align: center;
    text-decoration: none; }
  .loginPage a.btn_red {
    color: white; }
  .loginPage .one_half {
    width: 50%;
    display: block;
    float: left; }
  .loginPage .one_half.last {
    width: 45%;
    margin-left: 5%; }

.profilePage {
  display: block;
  font-family: 'Cabin';
  z-index: 100;
  width: 1000px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #290E03;
  text-align: center;
  position: relative; }
  .profilePage .leftPane {
    width: 180px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: inline-block; }
    .profilePage .leftPane .profIMG {
      height: 180px;
      width: 180px;
      border: 1px solid black;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.43);
      box-sizing: border-box;
      border-radius: 5px; }
    .profilePage .leftPane .statusBar {
      border: 1px solid black;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.43);
      margin-top: 4px;
      width: 180px;
      height: 40px;
      font-size: 12px;
      text-align: left;
      display: inline-block;
      border-radius: 5px;
      box-sizing: border-box;
      padding-left: 4px; }
      .profilePage .leftPane .statusBar .statusIMG {
        padding-left: 4px;
        margin-top: 3px;
        display: inline-block;
        height: 12px;
        width: 12px; }
      .profilePage .leftPane .statusBar .pStatus {
        margin-top: 6px;
        display: inline-block;
        padding-left: 10px;
        font-weight: bold;
        width: 140px;
        height: 16px; }
      .profilePage .leftPane .statusBar .p {
        margin-left: 3px;
        font-weight: bold;
        display: inline-block; }
      .profilePage .leftPane .statusBar .pCurrLobby {
        margin-left: 3px;
        display: inline-block; }
    .profilePage .leftPane .interactionBar {
      border: 1px solid black;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.43);
      margin-top: 6px;
      font-size: 12px;
      text-align: left;
      width: 180px;
      height: 85px;
      padding-top: 8px;
      padding-left: 4px;
      box-sizing: border-box;
      border-radius: 5px; }
      .profilePage .leftPane .interactionBar a.addFriend {
        display: block;
        width: 120px;
        height: 18px;
        background: url(/images/profile/add.png) no-repeat;
        background-size: 10px 10px;
        background-position: 2px 2px;
        padding-left: 16px; }
      .profilePage .leftPane .interactionBar a.msg {
        display: block;
        width: 120px;
        height: 18px;
        background: url(/images/profile/msg.png) no-repeat;
        background-size: 10px 10px;
        background-position: 2px 2px;
        padding-left: 16px; }
      .profilePage .leftPane .interactionBar a.posts {
        display: block;
        width: 120px;
        height: 18px;
        background: url(/images/profile/posts.png) no-repeat;
        background-size: 10px 10px;
        background-position: 2px 2px;
        padding-left: 16px; }
      .profilePage .leftPane .interactionBar a.threads {
        display: block;
        width: 120px;
        height: 18px;
        background: url(/images/profile/threads.png) no-repeat;
        background-size: 10px 10px;
        background-position: 2px 2px;
        padding-left: 16px; }
  .profilePage .centerPane {
    width: 615px;
    margin-left: 12px;
    text-align: left;
    position: absolute;
    top: 1px;
    left: 180px;
    display: inline-block; }
    .profilePage .centerPane .userAboutHeader {
      top: 10px;
      display: block;
      margin-bottom: 5px; }
      .profilePage .centerPane .userAboutHeader .userName {
        display: inline-block;
        font-weight: bold;
        font-size: 36px; }
      .profilePage .centerPane .userAboutHeader .userRank {
        padding-left: 10px;
        height: 30px;
        width: 30px;
        display: inline-block; }
      .profilePage .centerPane .userAboutHeader .userStatus {
        font-size: 10px;
        display: inline-block; }
    .profilePage .centerPane .userAbout {
      text-align: left;
      position: absolute;
      border: 1px solid black;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.43);
      display: block;
      border-spacing: 0px;
      width: 615px;
      height: 138px;
      font-size: 0;
      letter-spacing: 0;
      word-spacing: 0;
      border-radius: 5px;
      box-sizing: border-box; }
      .profilePage .centerPane .userAbout .userAboutL {
        width: 200px;
        height: 200px;
        font-size: 12px;
        vertical-align: top;
        display: inline-block;
        padding-top: 8px;
        padding-left: 10px; }
        .profilePage .centerPane .userAbout .userAboutL .PERSONAL {
          font-size: 13px;
          font-weight: bold;
          width: 187px;
          height: 15px;
          padding-top: 2px;
          padding-left: 2px;
          border-top: 1px solid black;
          border-bottom: 1px solid black; }
        .profilePage .centerPane .userAbout .userAboutL .userPersonal {
          height: 30px;
          padding-top: 3px;
          padding-left: 4px; }
          .profilePage .centerPane .userAbout .userAboutL .userPersonal .userFullName {
            padding-bottom: 3px; }
          .profilePage .centerPane .userAbout .userAboutL .userPersonal .slash {
            display: inline-block;
            padding-left: 2px;
            padding-right: 2px; }
          .profilePage .centerPane .userAbout .userAboutL .userPersonal .userAge {
            display: inline-block; }
          .profilePage .centerPane .userAbout .userAboutL .userPersonal .userSex {
            display: inline-block; }
          .profilePage .centerPane .userAbout .userAboutL .userPersonal .userState {
            display: inline-block; }
        .profilePage .centerPane .userAbout .userAboutL .ACCOUNTSTATS {
          font-size: 13px;
          font-weight: bold;
          width: 187px;
          height: 15px;
          padding-top: 2px;
          padding-left: 2px;
          border-top: 1px solid black;
          border-bottom: 1px solid black; }
        .profilePage .centerPane .userAbout .userAboutL .dateJoined {
          padding-top: 4px;
          padding-left: 4px;
          font-weight: bold; }
          .profilePage .centerPane .userAbout .userAboutL .dateJoined .userdateJoined {
            padding-left: 2px;
            display: inline-block;
            font-weight: normal; }
        .profilePage .centerPane .userAbout .userAboutL .postCount {
          padding-top: 3px;
          padding-left: 4px;
          font-weight: bold; }
          .profilePage .centerPane .userAbout .userAboutL .postCount .userpostCount {
            padding-left: 2px;
            display: inline-block;
            font-weight: normal; }
        .profilePage .centerPane .userAbout .userAboutL .timeOnline {
          padding-top: 3px;
          padding-left: 4px;
          font-weight: bold; }
          .profilePage .centerPane .userAbout .userAboutL .timeOnline .usertimeOnline {
            padding-left: 2px;
            display: inline-block;
            font-weight: normal; }
      .profilePage .centerPane .userAbout .userAboutR {
        border-left: 1px solid black;
        vertical-align: top;
        width: 400px;
        height: 137px;
        font-size: 12px;
        display: inline-block;
        padding-top: 8px;
        padding-left: 10px;
        box-sizing: border-box; }
        .profilePage .centerPane .userAbout .userAboutR .ABOUTME {
          font-size: 13px;
          font-weight: bold;
          width: 380px;
          height: 15px;
          padding-top: 2px;
          padding-left: 2px;
          border-top: 1px solid black;
          border-bottom: 1px solid black; }
        .profilePage .centerPane .userAbout .userAboutR .aboutMeDesc {
          height: 30px;
          width: 375px;
          padding-top: 3px;
          padding-left: 4px;
          word-wrap: break-word; }
        .profilePage .centerPane .userAbout .userAboutR .FAVORITES {
          font-size: 13px;
          font-weight: bold;
          width: 380px;
          height: 15px;
          padding-top: 2px;
          padding-left: 2px;
          border-top: 1px solid black;
          border-bottom: 1px solid black; }
        .profilePage .centerPane .userAbout .userAboutR .favGames {
          padding-top: 3px;
          padding-left: 4px;
          font-weight: bold; }
          .profilePage .centerPane .userAbout .userAboutR .favGames .userfavGames {
            padding-left: 2px;
            display: inline-block;
            font-weight: normal; }
        .profilePage .centerPane .userAbout .userAboutR .favShows {
          padding-top: 3px;
          padding-left: 4px;
          font-weight: bold; }
          .profilePage .centerPane .userAbout .userAboutR .favShows .userfavShows {
            padding-left: 2px;
            display: inline-block;
            font-weight: normal; }
        .profilePage .centerPane .userAbout .userAboutR .favFoods {
          padding-top: 3px;
          padding-left: 4px;
          font-weight: bold; }
          .profilePage .centerPane .userAbout .userAboutR .favFoods .userfavFoods {
            padding-left: 2px;
            display: inline-block;
            font-weight: normal; }
  .profilePage .rightPage {
    width: 180px;
    position: absolute;
    top: 0;
    left: 820px;
    text-align: center;
    display: inline-block; }
    .profilePage .rightPage .friendsListPane {
      border-radius: 5px;
      width: 180px;
      height: 420px;
      border: 1px solid black;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.43);
      text-align: left;
      display: block;
      box-sizing: border-box; }
      .profilePage .rightPage .friendsListPane .friendsHeader {
        text-align: left;
        border-radius: 5px;
        border: 1px solid black;
        background-color: white;
        border-left: 1px solid black;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.43);
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 5px;
        padding-left: 5px;
        width: 180px;
        height: 30px;
        top: 1px;
        right: 1px;
        font-size: 20px;
        border-spacing: 0px;
        position: relative;
        z-index: 2;
        display: block;
        float: right;
        box-sizing: border-box; }
      .profilePage .rightPage .friendsListPane .friendsList {
        float: right;
        width: 180px;
        height: 400px;
        font-size: 16px;
        border-spacing: 0px;
        position: relative;
        z-index: 1;
        display: block;
        padding-top: 10px;
        text-align: left; }
        .profilePage .rightPage .friendsListPane .friendsList .friend1 {
          text-align: left;
          padding-left: 6px;
          float: left; }
          .profilePage .rightPage .friendsListPane .friendsList .friend1 .friend1Name {
            display: inline-block;
            padding-bottom: 2px; }
          .profilePage .rightPage .friendsListPane .friendsList .friend1 .friend1StatusIMG {
            margin-left: 6px;
            margin-right: 4px;
            display: inline-block;
            height: 12px;
            width: 12px; }
          .profilePage .rightPage .friendsListPane .friendsList .friend1 .friend1Lobby {
            margin-left: 22px;
            font-size: 11px;
            font-weight: bold;
            margin-right: 4px; }

.editProfPage {
  display: block;
  font-family: 'Cabin';
  z-index: 100;
  width: 1000px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #290E03;
  text-align: center;
  position: relative; }
  .editProfPage .leftPane {
    width: 180px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: inline-block; }
    .editProfPage .leftPane .profIMG {
      height: 180px;
      width: 180px;
      border: 1px solid black;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.43);
      box-sizing: border-box;
      border-radius: 5px; }
    .editProfPage .leftPane .profIMG:hover {
      cursor: pointer;
      padding: 4px;
      background-color: #BDC3C7; }
    .editProfPage .leftPane .statusBar {
      border: 1px solid black;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.43);
      margin-top: 4px;
      width: 180px;
      height: 40px;
      font-size: 12px;
      text-align: left;
      display: inline-block;
      box-sizing: border-box;
      padding-left: 4px;
      border-radius: 5px; }
      .editProfPage .leftPane .statusBar .overlayStat {
        position: absolute;
        top: 187px;
        left: 0px;
        width: 180px;
        height: 40px;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.7); }
      .editProfPage .leftPane .statusBar .statusIMG {
        padding-left: 4px;
        margin-top: 3px;
        display: inline-block;
        height: 12px;
        width: 12px; }
      .editProfPage .leftPane .statusBar .pStatus {
        margin-top: 6px;
        display: inline-block;
        padding-left: 10px;
        font-weight: bold;
        width: 140px;
        height: 16px; }
      .editProfPage .leftPane .statusBar .p {
        margin-left: 3px;
        font-weight: bold;
        display: inline-block; }
      .editProfPage .leftPane .statusBar .pCurrLobby {
        margin-left: 3px;
        display: inline-block; }
    .editProfPage .leftPane .interactionBar {
      border: 1px solid black;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.43);
      margin-top: 6px;
      border-radius: 5px;
      font-size: 12px;
      text-align: left;
      width: 180px;
      height: 85px;
      padding-top: 8px;
      padding-left: 4px;
      box-sizing: border-box;
      opacity: 0.4px; }
      .editProfPage .leftPane .interactionBar .overlayInt {
        position: absolute;
        top: 233px;
        left: 0px;
        width: 180px;
        height: 85px;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.7); }
      .editProfPage .leftPane .interactionBar .addFriend {
        display: block;
        z-index: 1;
        width: 120px;
        height: 18px;
        background: url(/images/profile/add.png) no-repeat;
        background-size: 10px 10px;
        background-position: 2px 2px;
        padding-left: 16px;
        opacity: 0.4px; }
      .editProfPage .leftPane .interactionBar .msg {
        display: block;
        width: 120px;
        height: 18px;
        background: url(/images/profile/msg.png) no-repeat;
        background-size: 10px 10px;
        background-position: 2px 2px;
        padding-left: 16px; }
      .editProfPage .leftPane .interactionBar .posts {
        display: block;
        width: 120px;
        height: 18px;
        background: url(/images/profile/posts.png) no-repeat;
        background-size: 10px 10px;
        background-position: 2px 2px;
        padding-left: 16px; }
      .editProfPage .leftPane .interactionBar .threads {
        display: block;
        width: 120px;
        height: 18px;
        background: url(/images/profile/threads.png) no-repeat;
        background-size: 10px 10px;
        background-position: 2px 2px;
        padding-left: 16px; }
  .editProfPage .centerPane {
    width: 615px;
    margin-left: 12px;
    text-align: left;
    position: absolute;
    top: 1px;
    left: 180px;
    display: inline-block; }
    .editProfPage .centerPane .userAboutHeader {
      top: 10px;
      display: block;
      margin-bottom: 5px; }
      .editProfPage .centerPane .userAboutHeader .userName {
        display: inline-block;
        font-weight: bold;
        font-size: 36px; }
      .editProfPage .centerPane .userAboutHeader .userRank {
        padding-left: 10px;
        height: 30px;
        width: 30px;
        display: inline-block; }
      .editProfPage .centerPane .userAboutHeader .userStatus {
        font-size: 10px;
        display: inline-block; }
    .editProfPage .centerPane .userAbout {
      border-radius: 5px;
      text-align: left;
      position: absolute;
      border: 1px solid black;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.43);
      display: block;
      border-spacing: 0px;
      width: 615px;
      height: 208px;
      font-size: 0;
      letter-spacing: 0;
      word-spacing: 0;
      box-sizing: border-box; }
      .editProfPage .centerPane .userAbout .userAboutL {
        width: 200px;
        height: 206px;
        font-size: 12px;
        vertical-align: top;
        display: inline-block;
        padding-top: 8px;
        padding-left: 10px; }
        .editProfPage .centerPane .userAbout .userAboutL .PERSONAL {
          font-size: 13px;
          font-weight: bold;
          width: 187px;
          height: 15px;
          padding-top: 2px;
          padding-left: 2px;
          border-top: 1px solid black;
          border-bottom: 1px solid black; }
        .editProfPage .centerPane .userAbout .userAboutL .userPersonal {
          height: 50px;
          padding-top: 3px;
          padding-left: 4px; }
          .editProfPage .centerPane .userAbout .userAboutL .userPersonal .userFullName {
            margin-bottom: 3px;
            width: 180px; }
          .editProfPage .centerPane .userAbout .userAboutL .userPersonal .slash {
            display: inline-block;
            padding-left: 2px;
            padding-right: 2px; }
          .editProfPage .centerPane .userAbout .userAboutL .userPersonal .userAge {
            text-align: center;
            width: 38px;
            height: 14px;
            display: inline-block; }
          .editProfPage .centerPane .userAbout .userAboutL .userPersonal .userSex {
            display: inline-block; }
          .editProfPage .centerPane .userAbout .userAboutL .userPersonal .userState {
            display: inline-block; }
        .editProfPage .centerPane .userAbout .userAboutL .overlayAcc {
          position: absolute;
          top: 79px;
          left: 8px;
          width: 195px;
          height: 85px;
          z-index: 10;
          background-color: rgba(255, 255, 255, 0.7); }
        .editProfPage .centerPane .userAbout .userAboutL .ACCOUNTSTATS {
          font-size: 13px;
          font-weight: bold;
          width: 187px;
          height: 15px;
          padding-top: 2px;
          padding-left: 2px;
          border-top: 1px solid black;
          border-bottom: 1px solid black; }
        .editProfPage .centerPane .userAbout .userAboutL .dateJoined {
          padding-top: 4px;
          padding-left: 4px;
          font-weight: bold; }
          .editProfPage .centerPane .userAbout .userAboutL .dateJoined .userdateJoined {
            padding-left: 2px;
            display: inline-block;
            font-weight: normal; }
        .editProfPage .centerPane .userAbout .userAboutL .postCount {
          padding-top: 3px;
          padding-left: 4px;
          font-weight: bold; }
          .editProfPage .centerPane .userAbout .userAboutL .postCount .userpostCount {
            padding-left: 2px;
            display: inline-block;
            font-weight: normal; }
        .editProfPage .centerPane .userAbout .userAboutL .timeOnline {
          padding-top: 3px;
          padding-left: 4px;
          font-weight: bold; }
          .editProfPage .centerPane .userAbout .userAboutL .timeOnline .usertimeOnline {
            padding-left: 2px;
            display: inline-block;
            font-weight: normal; }
      .editProfPage .centerPane .userAbout .userAboutR {
        border-left: 1px solid black;
        vertical-align: top;
        width: 400px;
        height: 206px;
        font-size: 12px;
        display: inline-block;
        padding-top: 8px;
        padding-left: 10px;
        box-sizing: border-box; }
        .editProfPage .centerPane .userAbout .userAboutR .ABOUTME {
          font-size: 13px;
          font-weight: bold;
          width: 380px;
          height: 15px;
          padding-top: 2px;
          padding-left: 2px;
          border-top: 1px solid black;
          border-bottom: 1px solid black; }
        .editProfPage .centerPane .userAbout .userAboutR .aboutMeDesc {
          resize: none;
          margin-top: 3px;
          margin-bottom: 1px;
          height: 30px;
          width: 374px;
          padding-left: 4px; }
        .editProfPage .centerPane .userAbout .userAboutR .FAVORITES {
          font-size: 13px;
          font-weight: bold;
          width: 380px;
          height: 15px;
          padding-top: 2px;
          padding-left: 2px;
          border-top: 1px solid black;
          border-bottom: 1px solid black; }
        .editProfPage .centerPane .userAbout .userAboutR .favGames {
          padding-top: 3px;
          padding-left: 4px;
          font-weight: bold; }
          .editProfPage .centerPane .userAbout .userAboutR .favGames .userfavGames {
            width: 332px;
            padding-left: 2px;
            display: inline-block;
            font-weight: normal; }
        .editProfPage .centerPane .userAbout .userAboutR .favShows {
          padding-top: 3px;
          padding-left: 4px;
          font-weight: bold; }
          .editProfPage .centerPane .userAbout .userAboutR .favShows .userfavShows {
            width: 317px;
            padding-left: 2px;
            display: inline-block;
            font-weight: normal; }
        .editProfPage .centerPane .userAbout .userAboutR .favFoods {
          padding-top: 3px;
          padding-left: 4px;
          font-weight: bold; }
          .editProfPage .centerPane .userAbout .userAboutR .favFoods .userfavFoods {
            width: 336px;
            padding-left: 2px;
            display: inline-block;
            font-weight: normal; }
    .editProfPage .centerPane .saveButton {
      margin-top: 1em;
      right: 10px;
      top: 196px;
      text-align: center;
      position: absolute;
      z-index: 20;
      font-size: 0.8em;
      font-family: 'Cabin';
      color: white;
      background-color: #FC4349;
      border: 2px solid #FC4349;
      border-radius: 5px;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      display: inline-block;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
    .editProfPage .centerPane .saveButton:hover {
      cursor: pointer;
      cursor: pointer;
      background-color: #DC2329;
      border: 2px solid #DC2329; }
    .editProfPage .centerPane .saveButton:active {
      cursor: pointer;
      background-color: #DC2329; }
  .editProfPage .rightPage {
    width: 180px;
    position: absolute;
    top: 0;
    left: 820px;
    text-align: center;
    display: inline-block; }
    .editProfPage .rightPage .friendsListPane {
      border-radius: 5px;
      width: 180px;
      height: 420px;
      border: 1px solid black;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.43);
      text-align: left;
      display: block;
      box-sizing: border-box; }
      .editProfPage .rightPage .friendsListPane .overlayFL {
        position: absolute;
        top: 0px;
        left: -5px;
        width: 185px;
        height: 420px;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.7); }
      .editProfPage .rightPage .friendsListPane .friendsHeader {
        text-align: left;
        border-radius: 5px;
        border: 1px solid black;
        background-color: white;
        border-left: 1px solid black;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.43);
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 5px;
        padding-left: 5px;
        width: 180px;
        height: 30px;
        top: 1px;
        right: 1px;
        font-size: 20px;
        border-spacing: 0px;
        position: relative;
        z-index: 2;
        display: block;
        float: right;
        box-sizing: border-box; }
      .editProfPage .rightPage .friendsListPane .friendsList {
        float: right;
        width: 180px;
        height: 400px;
        font-size: 16px;
        border-spacing: 0px;
        position: relative;
        z-index: 1;
        display: block;
        padding-top: 10px;
        text-align: left; }
        .editProfPage .rightPage .friendsListPane .friendsList .friend1 {
          text-align: left;
          padding-left: 6px;
          float: left; }
          .editProfPage .rightPage .friendsListPane .friendsList .friend1 .friend1Name {
            display: inline-block;
            padding-bottom: 2px; }
          .editProfPage .rightPage .friendsListPane .friendsList .friend1 .friend1StatusIMG {
            margin-left: 6px;
            margin-right: 4px;
            display: inline-block;
            height: 12px;
            width: 12px; }
          .editProfPage .rightPage .friendsListPane .friendsList .friend1 .friend1Lobby {
            margin-left: 22px;
            font-size: 11px;
            font-weight: bold;
            margin-right: 4px; }

/* This is the style sheet for the main landing page of the website @author Rhys Howell*/
.landingPage {
  width: 100%;
  height: 100%;
  position: absolute;
  float: left;
  bottom: 0;
  background-color: white;
  z-index: -2;
  background: url('/images/headphones.jpg') no-repeat scroll center center transparent;
  background: url('/images/headphones.jpg') no-repeat scroll center top/cover transparent;
  font-family: 'Cabin'; }
  .landingPage .blackBackground {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
  .landingPage .mainContent {
    text-align: center;
    font-size: 1.2em;
    margin-top: 9.6em; }
    .landingPage .mainContent .mainContentBG {
      content: "";
      display: block;
      position: absolute;
      top: 9em;
      left: 0;
      background-color: #290E03;
      background: #290E03;
      width: 100%;
      height: 11em;
      opacity: 0.6;
      z-index: -1; }
    .landingPage .mainContent .accentText {
      color: #FC4349; }
    .landingPage .mainContent .titleText {
      font-size: 2em;
      line-height: 1.5em;
      color: white; }
    .landingPage .mainContent .bodyLine {
      width: 60%;
      margin-left: 15%;
      height: 1px;
      background-color: #290E03;
      margin-top: 0.2em;
      display: none;
      opacity: 0.1;
      filter: alpha(opacity=10);
      /* For IE8 and earlier */ }
    .landingPage .mainContent .signupButton {
      margin: 1em;
      right: 45%;
      text-align: center;
      z-index: 1;
      color: white;
      font-size: 0.8em;
      font-family: 'Cabin';
      background-color: #FC4349;
      border: 2px solid #FC4349;
      border-radius: 5px;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      padding-left: 2.2em;
      padding-right: 2.2em;
      display: inline-block;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
    .landingPage .mainContent .signupButton:hover {
      cursor: pointer;
      background-color: #DC2329;
      border: 2px solid #DC2329; }
    .landingPage .mainContent .signupButton:active {
      cursor: pointer;
      background-color: #DC2329;
      box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
    .landingPage .mainContent .macarena {
      position: absolute;
      top: 3.25em;
      left: 19%;
      z-index: -1; }
    .landingPage .mainContent .rightPanel {
      z-index: 2;
      display: inline-block;
      margin-top: 1em;
      width: 28%;
      height: 30em;
      border-radius: 10px;
      background: -webkit-linear-gradient(#F7FCFC, white);
      /* For Safari 5.1 to 6.0 */
      /* For Opera 11.1 to 12.0 */
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(#F7FCFC, white);
      /* Standard syntax */ }
      .landingPage .mainContent .rightPanel .features h1 {
        font-size: 1.4em;
        margin-top: 0.6em; }
      .landingPage .mainContent .rightPanel .features .featuresLine {
        width: 80%;
        margin-left: 10%;
        height: 1px;
        background-color: #FC4349;
        margin-top: 0.2em; }
      .landingPage .mainContent .rightPanel .features .individuals {
        margin-top: 1em;
        text-align: left;
        margin-left: 12%;
        width: 76%;
        height: 100%; }
        .landingPage .mainContent .rightPanel .features .individuals p {
          font-size: 1em;
          line-height: 1.4em; }

/* This is the style sheet for the sign page of vowbnet @author Rhys Howell*/
.signupPage {
  text-align: center;
  background-color: white;
  font-family: 'Cabin';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .signupPage .accentText {
    color: #FC4349; }
  .signupPage .titleText {
    color: #290E03;
    font-size: 2em;
    margin-top: 2em; }
  .signupPage .titleText:hover {
    cursor: pointer; }
  .signupPage .bodyLine {
    width: 60%;
    margin-left: 20%;
    height: 1px;
    background-color: #ECF0F1;
    margin-top: 0.25em; }
  .signupPage .pageThings #signupForm {
    width: 28%;
    margin-right: 2%;
    display: inline-block;
    height: 30em;
    position: absolute;
    margin-top: 1em;
    left: 21%;
    background: -webkit-linear-gradient(#F7FCFC, white);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F7FCFC, white);
    /* Standard syntax */
    border-radius: 10px; }
    .signupPage .pageThings #signupForm .signupFormHeader {
      font-size: 1.4em;
      margin-top: 0.4em; }
      .signupPage .pageThings #signupForm .signupFormHeader .signupFormLine {
        width: 80%;
        margin-left: 10%;
        height: 1px;
        background-color: #FC4349;
        margin-top: 0.2em; }
    .signupPage .pageThings #signupForm .fields {
      float: left; }
      .signupPage .pageThings #signupForm .fields .aboutText {
        color: #290E03;
        font-size: 1em;
        margin-top: 1em;
        float: left;
        margin-left: 12%; }
      .signupPage .pageThings #signupForm .fields .inputBox {
        height: 2em;
        float: left;
        width: 80%;
        margin-left: 10%;
        margin-top: 6px;
        border: none;
        outline: none;
        box-shadow: 0 0 2px #290E03;
        font-size: 0.8em;
        padding: 0px 6px;
        border-radius: 5px;
        font-size: 0.8em; }
      .signupPage .pageThings #signupForm .fields .inputBox:focus {
        box-shadow: 0 0 6px #E67E22; }
      .signupPage .pageThings #signupForm .fields .signupButton {
        position: relative;
        float: left;
        text-align: center;
        margin-left: 38%;
        margin-top: 15px;
        z-index: 1;
        color: white;
        font-size: 14px;
        font-family: 'Cabin';
        background-color: #FC4349;
        border: 2px solid #FC4349;
        border-radius: 5px;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        padding-left: 1.8em;
        padding-right: 1.8em;
        display: inline-block;
        -webkit-transition: all .25s ease;
        transition: all .25s ease; }
      .signupPage .pageThings #signupForm .fields .signupButton:hover {
        cursor: pointer;
        background-color: #DC2329;
        border: 2px solid #DC2329; }
      .signupPage .pageThings #signupForm .fields .signupButton:active {
        cursor: pointer;
        background-color: #DC2329;
        box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .signupPage .pageThings .rightPanel {
    position: absolute;
    margin-top: 1em;
    right: 21%;
    display: inline-block;
    width: 28%;
    height: 30em;
    border-radius: 10px;
    background: -webkit-linear-gradient(#F7FCFC, white);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F7FCFC, white);
    /* Standard syntax */ }
    .signupPage .pageThings .rightPanel .features .featuresTitle {
      font-size: 1.4em;
      margin-top: 0.4em; }
    .signupPage .pageThings .rightPanel .features .featuresLine {
      width: 80%;
      margin-left: 10%;
      height: 1px;
      background-color: #FC4349;
      margin-top: 0.2em; }
    .signupPage .pageThings .rightPanel .features .individuals {
      margin-top: 1em;
      text-align: left;
      margin-left: 12%;
      width: 76%;
      height: 100%; }
      .signupPage .pageThings .rightPanel .features .individuals p {
        font-size: 1em;
        line-height: 1.4em; }

/* This is the styling page for the lobby page */
.lobbyPage .voiceChatPanel {
  margin-top: 2em;
  text-align: center; }
  .lobbyPage .voiceChatPanel .joinVoiceChat {
    margin-left: 1em;
    text-align: center;
    color: #290E03;
    background: -webkit-linear-gradient(white, #ECF0F1);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #ECF0F1);
    /* Standard syntax */
    border-radius: 5px;
    border: 2px solid #BDC3C7;
    font-size: 14px;
    width: 140px;
    height: 2em;
    padding-top: 3px;
    padding-bottom: 8px;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    outline: none; }
  .lobbyPage .voiceChatPanel .joinVoiceChat:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(white, #E4E8E8);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #E4E8E8);
    /* Standard syntax */
    border: 2px solid #FF474E;
    color: #FC4349; }
  .lobbyPage .voiceChatPanel .joinVoiceChat:active {
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.2); }
  .lobbyPage .voiceChatPanel .joinPrivateVoiceChat {
    text-align: center;
    color: #290E03;
    background: -webkit-linear-gradient(white, #ECF0F1);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #ECF0F1);
    /* Standard syntax */
    border-radius: 5px;
    border: 2px solid #BDC3C7;
    font-size: 14px;
    width: 140px;
    height: 2em;
    padding-top: 3px;
    padding-bottom: 8px;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    outline: none; }
  .lobbyPage .voiceChatPanel .joinPrivateVoiceChat:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(white, #E4E8E8);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #E4E8E8);
    /* Standard syntax */
    border: 2px #E67E22 #290E03;
    color: #290E03; }
  .lobbyPage .voiceChatPanel .joinPrivateVoiceChat:active {
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.2); }
  .lobbyPage .voiceChatPanel .inputBox {
    height: 2em;
    width: 50%;
    border: none;
    outline: none;
    box-shadow: 0 0 2px #290E03;
    font-size: 0.8em;
    padding: 0px 6px;
    border-radius: 5px;
    font-size: 0.8em; }
  .lobbyPage .voiceChatPanel .inputBox:focus {
    background: -webkit-linear-gradient(white, #F7FCFC);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #F7FCFC);
    /* Standard syntax */
    border: 2px #290E03 #290E03;
    color: #290E03; }
  .lobbyPage .voiceChatPanel #rooms-list {
    font-family: 'Cabin';
    font-size: 1.1em;
    margin-top: 1em;
    margin-left: 35%;
    width: 30%; }
    .lobbyPage .voiceChatPanel #rooms-list td {
      height: 100%;
      vertical-align: bottom; }
    .lobbyPage .voiceChatPanel #rooms-list tr {
      border-bottom: 1px solid #ECF0F1;
      margin: 0.2em; }
.lobbyPage .chatArea {
  position: absolute;
  width: 98%;
  margin-bottom: 1%;
  bottom: 2em;
  height: 30%;
  left: 1%;
  border-radius: 5px;
  border: 2px solid #BDC3C7; }
  .lobbyPage .chatArea .lobbySideBar {
    position: absolute;
    right: 0%;
    width: 14%;
    height: 100%;
    bottom: 24px;
    font-family: tahoma;
    font-size: 14;
    color: orange;
    border: 1px black solid;
    overflow: scroll;
    margin-left: 1px; }
  .lobbyPage .chatArea .chatbox {
    font-family: 'Cabin';
    font-size: 12px;
    color: black;
    position: absolute;
    height: 90%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    word-wrap: break-word;
    overflow-y: auto; }
    .lobbyPage .chatArea .chatbox #messages li {
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 6px; }
    .lobbyPage .chatArea .chatbox #messages .serverMessage {
      background-color: #ECF0F1; }
    .lobbyPage .chatArea .chatbox #messages .playerMessage {
      margin-left: 14px;
      margin-right: 24px;
      margin-top: 2px;
      margin-bottom: 2px;
      border: 1px solid #BDC3C7;
      border-radius: 5px; }
    .lobbyPage .chatArea .chatbox #messages .playerMessage::after {
      content: "";
      position: absolute;
      left: 5px;
      margin-top: 4px;
      border: 5px solid #BDC3C7;
      border-left-color: transparent;
      border-top-color: transparent; }
    .lobbyPage .chatArea .chatbox #messages .selfMessage {
      margin-right: 14px;
      margin-left: 24px;
      margin-top: 2px;
      margin-bottom: 2px;
      border: 1px solid #BDC3C7;
      border-radius: 5px; }
    .lobbyPage .chatArea .chatbox #messages .selfMessage::after {
      content: "";
      position: absolute;
      right: 5px;
      margin-top: 4px;
      border: 5px solid #BDC3C7;
      border-right-color: transparent;
      border-top-color: transparent; }
  .lobbyPage .chatArea .controls {
    position: absolute;
    left: 0;
    width: 99%;
    bottom: 0;
    padding: 6px 6px;
    border-radius: 0 0 5px 5px;
    /* top left, top right, bottom right, bottom left */
    outline: none;
    border: none;
    border-width: 0;
    border-top-width: 1px;
    border-style: solid;
    border-color: #BDC3C7; }

.banner {
  background: -webkit-linear-gradient(#F7FCFC, #ECF0F1);
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F7FCFC, #ECF0F1);
  /* Standard syntax */
  font-family: 'Cabin';
  box-shadow: 0px 2px 2px #BDC3C7;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  box-sizing: border-box;
  text-decoration: none;
  z-index: 1; }
  .banner .bannerLeftSide {
    margin-left: 6em; }
    .banner .bannerLeftSide .vowbText {
      position: absolute;
      margin-top: .25em;
      margin-left: .25em;
      font-size: 2em;
      color: #290E03; }
      .banner .bannerLeftSide .vowbText .vowbAccentText {
        color: #FC4349; }
    .banner .bannerLeftSide .vowbText:hover {
      cursor: pointer;
      color: #FC4349; }
      .banner .bannerLeftSide .vowbText:hover .vowbAccentText {
        color: #290E03; }
    .banner .bannerLeftSide .quickLinks {
      top: 1.02em;
      position: relative;
      color: #290E03;
      margin-left: 11.5em; }
      .banner .bannerLeftSide .quickLinks .lobbiesButton {
        display: inline-block; }
      .banner .bannerLeftSide .quickLinks .lobbiesButton :hover {
        cursor: pointer;
        color: #FC4349; }
      .banner .bannerLeftSide .quickLinks .forumsButton {
        display: inline-block;
        margin-left: 2em; }
      .banner .bannerLeftSide .quickLinks .forumsButton :hover {
        cursor: pointer;
        color: #FC4349; }
  .banner .signupButton {
    text-align: center;
    color: #290E03;
    position: absolute;
    background: -webkit-linear-gradient(white, #ECF0F1);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #ECF0F1);
    /* Standard syntax */
    border-radius: 5px;
    border: 2px solid #BDC3C7;
    padding-top: 0.4em;
    top: .5em;
    right: 10em;
    height: 1.5em;
    width: 4.5em;
    -webkit-transition: all .25s ease;
    transition: all .25s ease; }
  .banner .signupButton:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(white, #E4E8E8);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #E4E8E8);
    /* Standard syntax */
    border: 2px solid #FC4349;
    color: #FC4349; }
  .banner .signupButton:active {
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .banner .dontShowGradient {
    -webkit-transition: none;
    transition: none; }
  .banner .loginButton {
    top: 1em;
    position: absolute;
    color: #290E03;
    right: 6em;
    background: none; }
  .banner .loginButton:hover {
    cursor: pointer;
    color: #FC4349; }

/* Styling for the about page */
.aboutPage {
  height: 100%;
  width: 100%;
  float: left;
  background-color: white;
  position: absolute; }
  .aboutPage .mainContent {
    margin-top: 2%;
    text-align: center;
    color: #290E03;
    font-size: 1.4em;
    /* Cabin is the other font */
    font-family: 'Blenda'; }
    .aboutPage .mainContent .wordAccent {
      color: #FC4349; }
    .aboutPage .mainContent .profiles {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.2em;
      max-width: 700px;
      font-family: 'Blenda'; }
      .aboutPage .mainContent .profiles .bio {
        display: inline-block;
        margin: 10px;
        margin-bottom: 40px;
        padding-bottom: 2px;
        border-radius: 5px; }
        .aboutPage .mainContent .profiles .bio .bioImage {
          height: 200px;
          width: 200px;
          margin: 2px;
          border-radius: 5px; }

/* The styling for the copyright footer on a webpage */
/* must change later for webpages greater than a page */
.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 96%;
  background-color: white;
  color: #290E03;
  padding-left: 4%;
  height: 2em;
  box-shadow: 0 -2px 2px #BDC3C7;
  font-family: 'Cabin';
  font-size: 0.8em; }
  .copyright .words {
    margin-top: 0.4em; }
    .copyright .words .pageLink {
      text-decoration: underline;
      margin-left: 1.6em; }
    .copyright .words .linkSplit {
      padding-left: 0.8em;
      padding-right: 0.8em; }
    .copyright .words .individualLink {
      text-decoration: underline; }

/* Styling sheet for the /jobs page */
.jobsPage {
  height: 100%;
  width: 100%;
  float: left;
  background-color: white;
  position: absolute; }
  .jobsPage .mainContent {
    margin-top: 10%;
    text-align: center;
    color: #290E03;
    font-size: 1.2em;
    font-family: 'Blenda';
    line-height: 1.4em; }
    .jobsPage .mainContent .wordAccent {
      color: #FC4349; }

.fourOhFour {
  font-family: 'Cabin';
  background-color: #ECF0F1;
  color: #290E03;
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2; }
  .fourOhFour .titleText {
    margin-left: 2em;
    margin-top: 2em;
    font-size: 2.2em; }
  .fourOhFour .errorText {
    margin-left: 5em;
    margin-top: 1.5em;
    font-size: 1.2em; }
  .fourOhFour .accentText {
    color: #FC4349; }
  .fourOhFour .macarena {
    text-align: center;
    width: 100%;
    margin-top: 5em;
    position: absolute; }
    .fourOhFour .macarena .macImage {
      width: 20%;
      height: auto; }
  .fourOhFour .cats {
    z-index: -1;
    width: 100%;
    height: auto;
    overflow-y: none;
    left: 0;
    top: 0;
    position: absolute; }

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }
