/* Flat ui colors for reference */
/* Pallete currently in use */
/* START Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END Reset CSS */
/* This file just holds font families for use in the styling @author Rhys */
@font-face {
  font-family: 'Cabin';
  src: url('/fonts/Cabin-Regular.ttf') format("truetype"); }

@font-face {
  font-family: 'Cabin-Bold';
  src: url('/fonts/Cabin-Bold.ttf') format("truetype"); }

/* This is the style sheet for the main landing page of the website @author Rhys Howell*/
.landingPage {
  width: 100%;
  height: 100%;
  position: absolute;
  float: left;
  background-color: #ECF0F1;
  background-image: url("/images/squairy_light.png");
  font-family: 'Cabin'; }
  .landingPage .banner {
    background-color: #3D3938;
    box-shadow: 0px 2px 2px black;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    box-sizing: border-box;
    text-decoration: none; }
    .landingPage .banner .vowbText {
      position: absolute;
      margin-top: .25em;
      margin-left: .25em;
      font-size: 2em;
      color: white; }
    .landingPage .banner .vowbText:hover {
      cursor: pointer; }
    .landingPage .banner .quickLinks {
      top: 1.02em;
      position: relative;
      color: #E6E3E6;
      margin-left: 12em; }
      .landingPage .banner .quickLinks .lobbiesButton {
        display: inline-block; }
      .landingPage .banner .quickLinks .lobbiesButton :hover {
        cursor: pointer;
        color: white; }
      .landingPage .banner .quickLinks .forumsButton {
        display: inline-block;
        margin-left: 4em; }
      .landingPage .banner .quickLinks .forumsButton :hover {
        cursor: pointer;
        color: white; }
    .landingPage .banner .signupButton {
      text-align: center;
      color: white;
      position: absolute;
      background-color: #E83A25;
      border-radius: 5px;
      padding-top: 0.3em;
      top: .7em;
      right: 8em;
      height: 1.4em;
      width: 5em; }
    .landingPage .banner .signupButton:hover {
      cursor: pointer;
      background-color: #D82A15; }
    .landingPage .banner .loginButton {
      top: 1em;
      position: absolute;
      color: #E6E3E6;
      right: 3em;
      background: none; }
    .landingPage .banner .loginButton:hover {
      cursor: pointer;
      color: white; }

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }
