/* Importing Google Webfonts */
/* Flat ui colors for reference */
/* Pallete currently in use */
/* START Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END Reset CSS */
/* This file just holds font families for use in the styling @author Rhys */
@font-face {
  font-family: 'Cabin';
  src: url('/fonts/Cabin-Regular.ttf') format("truetype"); }

@font-face {
  font-family: 'Cabin-Bold';
  src: url('/fonts/Cabin-Bold.ttf') format("truetype"); }

@font-face {
  font-family: 'Blenda';
  src: url('/fonts/Blenda-Script.otf'); }

.loginPage {
  display: none;
  font-family: 'Cabin';
  z-index: 100;
  top: 0px;
  left: 0px;
  color: #290E03;
  /* Popup Styles*/ }
  .loginPage .mask {
    position: fixed;
    z-index: 101;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
  .loginPage .loginPopup {
    position: absolute;
    width: 300px;
    height: auto;
    left: 40%;
    top: 150px;
    background: white;
    z-index: 102;
    border-radius: 5px; }
  .loginPage .loginHeader {
    font-size: 16px;
    text-transform: uppercase;
    background: #ECF0F1;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #BDC3C7;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .loginPage .loginClose {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 12px;
    cursor: pointer;
    color: #aaa;
    font-size: 20px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease; }
  .loginPage .loginClose:hover {
    padding: 7px 11px;
    cursor: pointer;
    font-size: 24px; }
  .loginPage .loginClose:active {
    color: #888; }
  .loginPage .loginBody {
    padding: 20px; }
  .loginPage .loginForm label {
    display: block;
    margin-bottom: 5px; }
  .loginPage .loginForm input[type="username"], .loginPage .loginForm input[type="password"] {
    display: block;
    width: 90%;
    padding: 6px;
    color: #666;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0 2px #290E03;
    -webkit-transition: all .25s ease;
    transition: all .25s ease; }
  .loginPage .loginForm input[type="username"]:focus, .loginPage .loginForm input[type="password"]:focus {
    box-shadow: 0 0 6px #2ECC71; }
  .loginPage .loginForm input[type="checkbox"] {
    float: left;
    margin-right: 5px; }
  .loginPage .loginForm input[type="checkbox"] + label {
    float: left; }
  .loginPage .loginForm .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden; }
  .loginPage .btn_red {
    background: #FC4349;
    color: white;
    padding: 10px 20px;
    border-radius: 5px; }
  .loginPage .btn_red:hover {
    background: #DC2329; }
  .loginPage .btn_red:active {
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .loginPage .action_btns {
    clear: both;
    overflow: hidden; }
  .loginPage .action_btns a {
    display: block; }
  .loginPage a.btn {
    color: #666;
    text-align: center;
    text-decoration: none; }
  .loginPage a.btn_red {
    color: white; }
  .loginPage .one_half {
    width: 50%;
    display: block;
    float: left; }
  .loginPage .one_half.last {
    width: 45%;
    margin-left: 5%; }

/* This is the style sheet for the main landing page of the website @author Rhys Howell*/
.landingPage {
  width: 100%;
  height: 100%;
  position: absolute;
  float: left;
  background-color: white;
  z-index: -2;
  font-family: 'Cabin'; }
  .landingPage .blackBackground {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
  .landingPage .mainContent {
    text-align: center;
    font-size: 1.2em;
    margin-top: 1em; }
    .landingPage .mainContent .accentText {
      color: #FC4349; }
    .landingPage .mainContent .bodyLine {
      width: 80%;
      margin-left: 15%;
      height: 1px;
      background-color: #ECF0F1;
      margin-top: 0.2em; }
    .landingPage .mainContent .signupButton {
      margin-top: 1em;
      margin-right: 5%;
      right: 45%;
      text-align: center;
      z-index: 1;
      background: -webkit-linear-gradient(#FF474E, #DC2329);
      /* For Safari 5.1 to 6.0 */
      /* For Opera 11.1 to 12.0 */
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(#FF474E, #DC2329);
      /* Standard syntax */
      box-shadow: inset 0px 0px 6px 6px rgba(255, 255, 255, 0.1);
      color: white;
      font-size: 0.8em;
      font-family: 'Cabin-Bold';
      border-radius: 5px;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      display: inline-block;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
    .landingPage .mainContent .signupButton:hover {
      cursor: pointer; }
    .landingPage .mainContent .signupButton:active {
      cursor: pointer;
      box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.1); }
    .landingPage .mainContent .macarena {
      position: absolute;
      top: 3.25em;
      left: 19%;
      z-index: -1; }
    .landingPage .mainContent .rightPanel {
      z-index: 2;
      display: inline-block;
      margin-top: 1em;
      width: 28%;
      height: 30em;
      border-radius: 10px;
      background: -webkit-linear-gradient(#F7FCFC, white);
      /* For Safari 5.1 to 6.0 */
      /* For Opera 11.1 to 12.0 */
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(#F7FCFC, white);
      /* Standard syntax */ }
      .landingPage .mainContent .rightPanel .features h1 {
        font-size: 1.4em;
        margin-top: 0.6em; }
      .landingPage .mainContent .rightPanel .features .featuresLine {
        width: 80%;
        margin-left: 10%;
        height: 1px;
        background-color: #FC4349;
        margin-top: 0.2em; }
      .landingPage .mainContent .rightPanel .features .individuals {
        margin-top: 1em;
        text-align: left;
        margin-left: 12%;
        width: 76%;
        height: 100%; }
        .landingPage .mainContent .rightPanel .features .individuals p {
          font-size: 1em;
          line-height: 1.4em; }

/* This is the style sheet for the sign page of vowbnet @author Rhys Howell*/
.signupPage {
  text-align: center;
  background-color: white;
  font-family: 'Cabin';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .signupPage .accentText {
    color: #FC4349; }
  .signupPage .titleText {
    color: #290E03;
    font-size: 2em;
    margin-top: 2em; }
  .signupPage .titleText:hover {
    cursor: pointer; }
  .signupPage .bodyLine {
    width: 60%;
    margin-left: 20%;
    height: 1px;
    background-color: #ECF0F1;
    margin-top: 0.25em; }
  .signupPage .pageThings #signupForm {
    width: 28%;
    margin-right: 2%;
    display: inline-block;
    height: 30em;
    position: absolute;
    margin-top: 1em;
    left: 21%;
    background: -webkit-linear-gradient(#F7FCFC, white);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F7FCFC, white);
    /* Standard syntax */
    border-radius: 10px; }
    .signupPage .pageThings #signupForm .signupFormHeader {
      font-size: 1.4em;
      margin-top: 0.4em; }
      .signupPage .pageThings #signupForm .signupFormHeader .signupFormLine {
        width: 80%;
        margin-left: 10%;
        height: 1px;
        background-color: #FC4349;
        margin-top: 0.2em; }
    .signupPage .pageThings #signupForm .fields {
      float: left; }
      .signupPage .pageThings #signupForm .fields .aboutText {
        color: #290E03;
        font-size: 1em;
        margin-top: 1em;
        float: left;
        margin-left: 12%; }
      .signupPage .pageThings #signupForm .fields .inputBox {
        height: 2em;
        float: left;
        width: 80%;
        margin-left: 10%;
        margin-top: 6px;
        border: none;
        outline: none;
        box-shadow: 0 0 2px #290E03;
        font-size: 0.8em;
        padding: 0px 6px;
        border-radius: 5px;
        font-size: 0.8em; }
      .signupPage .pageThings #signupForm .fields .inputBox:focus {
        box-shadow: 0 0 6px #2ECC71; }
      .signupPage .pageThings #signupForm .fields .signupButtonWrap {
        position: relative;
        float: left;
        width: 100%;
        height: 5em; }
        .signupPage .pageThings #signupForm .fields .signupButtonWrap .signupButton {
          margin-top: 1em;
          outline: none;
          border: none;
          text-align: center;
          background: -webkit-linear-gradient(#FF474E, #DC2329);
          /* For Safari 5.1 to 6.0 */
          /* For Opera 11.1 to 12.0 */
          /* For Firefox 3.6 to 15 */
          background: linear-gradient(#FF474E, #DC2329);
          /* Standard syntax */
          box-shadow: inset 0px 0px 6px 6px rgba(255, 255, 255, 0.1);
          color: white;
          font-size: 1.2em;
          font-family: 'Cabin-Bold';
          border-radius: 5px;
          padding-top: 0.25em;
          padding-bottom: 0.25em;
          padding-left: 0.5em;
          padding-right: 0.5em; }
        .signupPage .pageThings #signupForm .fields .signupButtonWrap .signupButton:hover {
          cursor: pointer; }
        .signupPage .pageThings #signupForm .fields .signupButtonWrap .signupButton:active {
          cursor: pointer;
          box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.1); }
  .signupPage .pageThings .rightPanel {
    position: absolute;
    margin-top: 1em;
    right: 21%;
    display: inline-block;
    width: 28%;
    height: 30em;
    border-radius: 10px;
    background: -webkit-linear-gradient(#F7FCFC, white);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F7FCFC, white);
    /* Standard syntax */ }
    .signupPage .pageThings .rightPanel .features .featuresTitle {
      font-size: 1.4em;
      margin-top: 0.4em; }
    .signupPage .pageThings .rightPanel .features .featuresLine {
      width: 80%;
      margin-left: 10%;
      height: 1px;
      background-color: #FC4349;
      margin-top: 0.2em; }
    .signupPage .pageThings .rightPanel .features .individuals {
      margin-top: 1em;
      text-align: left;
      margin-left: 12%;
      width: 76%;
      height: 100%; }
      .signupPage .pageThings .rightPanel .features .individuals p {
        font-size: 1em;
        line-height: 1.4em; }

/* This is the styling page for the lobby page */
.lobbyPage .userTitle {
  font-family: tahoma;
  font-size: 14;
  color: orange; }
.lobbyPage .usersOnline {
  font-family: tahoma;
  font-size: 14;
  color: orange;
  border: 1px black solid;
  width: 150px;
  height: 225px;
  overflow: scroll;
  margin-left: 1px; }
.lobbyPage .chatbox {
  font-family: tahoma;
  font-size: 12px;
  color: black;
  border: 1px black solid;
  position: relative;
  top: 15px;
  height: 225px;
  width: 400px;
  word-wrap: break-word;
  overflow-y: auto;
  float: left; }

.banner {
  background: -webkit-linear-gradient(#F7FCFC, #ECF0F1);
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F7FCFC, #ECF0F1);
  /* Standard syntax */
  font-family: 'Cabin';
  box-shadow: 0px 2px 2px #BDC3C7;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  box-sizing: border-box;
  text-decoration: none;
  z-index: 1; }
  .banner .bannerLeftSide {
    margin-left: 6em; }
    .banner .bannerLeftSide .vowbText {
      position: absolute;
      margin-top: .25em;
      margin-left: .25em;
      font-size: 2em;
      color: #290E03; }
      .banner .bannerLeftSide .vowbText .vowbAccentText {
        color: #FC4349; }
    .banner .bannerLeftSide .vowbText:hover {
      cursor: pointer;
      color: #FC4349; }
      .banner .bannerLeftSide .vowbText:hover .vowbAccentText {
        color: #290E03; }
    .banner .bannerLeftSide .quickLinks {
      top: 1.02em;
      position: relative;
      color: #290E03;
      margin-left: 11.5em; }
      .banner .bannerLeftSide .quickLinks .lobbiesButton {
        display: inline-block; }
      .banner .bannerLeftSide .quickLinks .lobbiesButton :hover {
        cursor: pointer;
        color: #FC4349; }
      .banner .bannerLeftSide .quickLinks .forumsButton {
        display: inline-block;
        margin-left: 2em; }
      .banner .bannerLeftSide .quickLinks .forumsButton :hover {
        cursor: pointer;
        color: #FC4349; }
  .banner .signupButton {
    text-align: center;
    color: #290E03;
    position: absolute;
    background: -webkit-linear-gradient(white, #ECF0F1);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #ECF0F1);
    /* Standard syntax */
    border-radius: 5px;
    border: 2px solid #BDC3C7;
    padding-top: 0.4em;
    top: .5em;
    right: 10em;
    height: 1.5em;
    width: 4.5em;
    -webkit-transition: all .25s ease;
    transition: all .25s ease; }
  .banner .signupButton:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(white, #E4E8E8);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #E4E8E8);
    /* Standard syntax */
    border: 2px solid #FC4349;
    color: #FC4349; }
  .banner .signupButton:active {
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .banner .dontShowGradient {
    -webkit-transition: none;
    transition: none; }
  .banner .loginButton {
    top: 1em;
    position: absolute;
    color: #290E03;
    right: 6em;
    background: none; }
  .banner .loginButton:hover {
    cursor: pointer;
    color: #FC4349; }

/* Styling for the about page */
.aboutPage {
  height: 100%;
  width: 100%;
  float: left;
  background-color: white;
  position: absolute; }
  .aboutPage .mainContent {
    margin-top: 2%;
    text-align: center;
    color: #290E03;
    font-size: 1.4em;
    /* Cabin is the other font */
    font-family: 'Blenda'; }
    .aboutPage .mainContent .wordAccent {
      color: #FC4349; }
    .aboutPage .mainContent .profiles {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.2em;
      max-width: 700px;
      font-family: 'Blenda'; }
      .aboutPage .mainContent .profiles .bio {
        display: inline-block;
        margin: 10px;
        margin-bottom: 40px;
        padding-bottom: 2px;
        border-radius: 5px; }
        .aboutPage .mainContent .profiles .bio .bioImage {
          height: 200px;
          width: 200px;
          margin: 2px;
          border-radius: 5px; }

/* The styling for the copyright footer on a webpage */
/* must change later for webpages greater than a page */
.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 96%;
  background-color: white;
  color: #290E03;
  padding-left: 4%;
  height: 2em;
  box-shadow: 0 -2px 2px #BDC3C7;
  font-family: 'Cabin';
  font-size: 0.8em; }
  .copyright .words {
    margin-top: 0.4em; }
    .copyright .words .pageLink {
      text-decoration: underline;
      margin-left: 1.6em; }
    .copyright .words .linkSplit {
      padding-left: 0.8em;
      padding-right: 0.8em; }
    .copyright .words .individualLink {
      text-decoration: underline; }

/* Styling sheet for the /jobs page */
.jobsPage {
  height: 100%;
  width: 100%;
  float: left;
  background-color: white;
  position: absolute; }
  .jobsPage .mainContent {
    margin-top: 10%;
    text-align: center;
    color: #290E03;
    font-size: 1.2em;
    font-family: 'Blenda';
    line-height: 1.4em; }
    .jobsPage .mainContent .wordAccent {
      color: #FC4349; }

.fourOhFour {
  font-family: 'Cabin';
  background-color: #ECF0F1;
  color: #290E03;
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }
  .fourOhFour .titleText {
    margin-left: 2em;
    margin-top: 2em;
    font-size: 2.2em; }
  .fourOhFour .errorText {
    margin-left: 5em;
    margin-top: 1.5em;
    font-size: 1.2em; }
  .fourOhFour .accentText {
    color: #FC4349; }
  .fourOhFour .macarena {
    text-align: center;
    width: 100%;
    margin-top: 5em;
    position: absolute; }
    .fourOhFour .macarena .macImage {
      width: 20%;
      height: auto; }

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }
